<div class="container" style="margin-top: 60px">

<section class="container jumbotron">
  <h1 class="jumbotron-text">ABOUT US</h1>
  <p class="jumbotron-para">Learn about us so we can take care of you</p>
</section>

<section class="our_story container">
  <h1 class="about_text_header"><span >- OUR STORY -</span></h1>
  <p class="about_text_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus, nisi id fermentum efficitur, velit turpis fringilla nunc, sagittis luctus est urna ac odio. Vivamus molestie nunc non ullamcorper gravida. Ut blandit, nisl id ultrices ornare, risus dui mattis felis, et gravida nunc lacus a est. Nulla vulputate metus et elit luctus ultricies. Sed vitae ullamcorper elit. Nulla suscipit eleifend sollicitudin. Aliquam condimentum ligula diam, nec rutrum orci lacinia vel. Nullam semper ornare lorem, sed cursus nisi gravida et. Morbi lacus diam, semper at bibendum nec, vestibulum eu est. Cras viverra aliquet nulla et sagittis. Pellentesque tincidunt ante ligula, at sodales eros lacinia et. Quisque commodo dolor a sodales ullamcorper. Suspendisse laoreet eros nibh, ut suscipit mauris sollicitudin at. Mauris et fermentum nisi. Praesent non imperdiet magna, et tincidunt mauris. Suspendisse vitae faucibus nisl, eu feugiat neque.In at quam lacinia, efficitur tortor quis, venenatis ipsum. Phasellus vel feugiat nibh. Phasellus eget odio urna. Aliquam sed nisl id libero tristique congue. Sed mauris lacus, rutrum vel risus sit amet, condimentum sagittis urna. Phasellus et suscipit tellus. Donec ornare elit et porttitor sodales. Nullam enim enim, porta eu magna eu, elementum gravida nulla. Vivamus ultricies porta varius. Nullam velit leo, egestas ac congue in, tincidunt vitae erat. Suspendisse faucibus felis turpis, a consequat elit tristique ac.</p>
</section>


 <section itemprop="about" class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="about_text_header">- OUR TEAM -<h1>
        </div>
          <div itemprop="member" itemscope itemtype="http://schema.org/Person" class="col-sm-6">

            <%= image_tag("head_shot_copy.jpg", :class => "about_img_manage") %>
            <div class="comp_img_text">
              <p class="notification"> <strong itemprop="name">Maxwell Mathews</strong>,  <span itemprop="homeLocation" itemscope itemtype="http://schema.org/Place"><span itemprop="name">CTO</span></span></p>
            </div>
            <div class="comp_img_descrp">
              <p>"I have learned so much from the seniors I have worked with. Senyours is a great way for me to build meaningful relationships while serving my community."</p>
            </div>
          </div>
          <div itemprop="member" itemscope itemtype="http://schema.org/Person" class="col-sm-6" style=" height: 650px;">
            <%= image_tag("wale-compress-image.jpg", :class => "about_img_manage") %>
            <div class="comp_img_text">
              <p class="notification"> <strong itemprop="name">Wale Kareem</strong>,  <span itemprop="homeLocation" itemscope itemtype="http://schema.org/Place"><span itemprop="name">CEO, Co-Founder</span></span></p>
              <meta itemprop="jobTitle" content="Companion"/>
            </div>
            <div class="comp_img_descrp">
              <p>"I am a Companion after work and on the weekends. For me being a Companion is a way to give back to the wonderful world I live in.  Everyone deserves a smile."</p>
            </div>
          </div>
      </div>


      <div class="row">
          <div itemprop="member" itemscope itemtype="http://schema.org/Person" class="col" style=" height: 650px;">
            <%= image_tag("head_shot_copy.jpg", :class => "about_img_team") %>
            <div class="comp_img_text">
              <p class="notification"> <strong itemprop="name">Maxwell Mathews</strong>,  <span itemprop="homeLocation" itemscope itemtype="http://schema.org/Place"><span itemprop="name">CTO</span></span></p>
            </div>
            <div class="comp_img_descrp">
              <p>"I have learned so much from the seniors I have worked with. Senyours is a great way for me to build meaningful relationships while serving my community."</p>
            </div>
          </div>


          <div itemprop="member" itemscope itemtype="http://schema.org/Person" class="col" style=" height: 650px;">
            <%= image_tag("head_shot_copy.jpg", :class => "about_img_team") %>
            <div class="comp_img_text">
              <p class="notification"> <strong itemprop="name">Maxwell Mathews</strong>,  <span itemprop="homeLocation" itemscope itemtype="http://schema.org/Place"><span itemprop="name">CTO</span></span></p>
            </div>
            <div class="comp_img_descrp">
              <p>"I have learned so much from the seniors I have worked with. Senyours is a great way for me to build meaningful relationships while serving my community."</p>
            </div>
          </div>


          <div itemprop="member" itemscope itemtype="http://schema.org/Person" class="col" style=" height: 650px;">
            <%= image_tag("head_shot_copy.jpg", :class => "about_img_team") %>
            <div class="comp_img_text">
              <p class="notification"> <strong itemprop="name">Maxwell Mathews</strong>,  <span itemprop="homeLocation" itemscope itemtype="http://schema.org/Place"><span itemprop="name">CTO</span></span></p>
            </div>
            <div class="comp_img_descrp">
              <p>"I have learned so much from the seniors I have worked with. Senyours is a great way for me to build meaningful relationships while serving my community."</p>
            </div>
          </div>


          <div itemprop="member" itemscope itemtype="http://schema.org/Person" class="col" style=" height: 650px;">
            <%= image_tag("head_shot_copy.jpg", :class => "about_img_team") %>
            <div class="comp_img_text">
              <p class="notification"> <strong itemprop="name">Maxwell Mathews</strong>,  <span itemprop="homeLocation" itemscope itemtype="http://schema.org/Place"><span itemprop="name">CTO</span></span></p>
            </div>
            <div class="comp_img_descrp">
              <p>"I have learned so much from the seniors I have worked with. Senyours is a great way for me to build meaningful relationships while serving my community."</p>
            </div>
          </div>
      </div>
    </section>
</div>