<body style="background-color: #f6f6f6; margin-top: 40px;">
  <div class="container no_cont">
    <div class="row profile_show">
      <div class="asspt1 text-center container" style="display: none">
        <!-- <img src="/assets/checkmark.png"> -->
        <!-- Will not go through if hour is not set -->
        <p>Accepted, wait a moment so we can get you your money</p>
      </div>
      <div class="asspt2 text-center container" style="display: none">
        <p>Declined</p>
      </div>
      <% if @appointment.length >= 1 %>
          <div class="accept text-center">
             <p style="padding-top: 15px;"><%=link_to @accept_this_app.senior.first_name, user_path(@accept_this_app.senior) %> requests your companionship for <%= @accept_this_app.start_date.strftime('%m/%d') %>
            <%=link_to appointment_path(@accept_this_app,appointment: {start_date: @accept_this_app.start_date,end_date: @accept_this_app.start_date, senior_id: @accept_this_app.senior.id,companion_id: current_user.id,accept: true,payment_status: "pending"}), method: :patch, remote: true, class: "btn btn-warning assptclick1" do %>
              <%= label_tag(:appointment, "Accept") %>
              <% end %>
            <%=link_to appointment_path(@accept_this_app,appointment: {start_date: @accept_this_app.start_date,end_date: @accept_this_app.start_date, senior_id: @accept_this_app.senior.id,companion_id: current_user.id,accept: false,payment_status: "pending"}), method: :patch, remote: true, class: "btn btn-warning assptclick2" do %>
              <%= label_tag(:appointment, "Decline") %>
            <% end %>
            </p>
          </div>
      <% end %>
      <div class="col-lg-6" style="padding-right: 0px; padding-left: 0px;">
        <div class="row sen_img_app">
          <div class="col-lg-6 col-md-6 sen_image">
            <div class="sen_img_upper"
              <% if !@user.avatar.url %>
                style="background-image:url(/assets/avatar_image.png);"
              <% else %>
                style="background-image: url(<%=@user.avatar.large.url if @user.avatar? %>);">
              <% end %>
              <p class="comp_rate notification"><%= final_rating(@user) %>
                <i class="fa fa-star" style="color: orange;"></i>
              </p>
              <p class="comp_fee notification">$<%= @user.fee %>/Hr
              </p>
            </div>
            <% if @user.first_name %>
            <div class="sen_img_lower">
              <p><%= @user.first_name.humanize %> <%= @user.last_name.humanize %></p>
              <p><%= @user.city %></p>
            </div>
            <% end %>
        </div>
        <div class="col-lg-6 col-md-6 sen_app">
            <div>
              <% if @user.first_name %>
              <h1 class="notification"><%= @user.first_name.humanize %></h1>
              <h4>Joined <%= @user.created_at.strftime('%Y') %></h4>
              <% end %>
              <% if current_user.id === @user.id && current_user.assessment === "completed"  %>
                <% if !current_user.description?  || !current_user.phone_number? || !current_user.address? %>
                  <p>You must provide all <a class="edit_tag" href="/users/<%=current_user.id %>/edit">
                        Required</a> information to proceed
                  </p>
                  </p>
                <% else %>
                  <a class="edit_tag" href="/users/<%=current_user.id %>/edit">
                          Edit Profile</a>
                <% end %>
              <% end %>
            </div>
            <div class="comp_description">
              <Strong>About me: </Strong><%= @user.description %>
            </div>
          </div>
        </div>
        <% if @user.assessment === "no" %>
            <div class="container sen_rating text-center">
            <p> You need to <%= link_to "Take Assessment", comp_test_path  %> before you continue</p>
          </div>
        <% end %>

        <div id='sen_services_tasks_container' class='container'>
          <%= render "transactions/show", locals: {user: @user, balance: @balance} %>
        </div>

        <div id='sen_services_tasks_container' class='container'>
          <%= render "appointments/list_transactions" %>
        </div>

        <div id='sen_services_tasks_container' class='container'>
          <%= render "tasks/index", locals: {user: @user} %>
        </div>

        <% if @user.reviews.count >=  0 %>
          <div class="sen_rating container">
            <h3>Reviews</h3>
            <div class="sen_stars text-center">
              <div>
                <p class="notification">Recommendation</p>
                <% wyr(@user).times do  %>
                  <i class="fa fa-star" style="color: orange;"></i>
                <% end %>
              </div>
              <div>
                <p class="notification">Companionship</p>
                <% comp_rate(@user).times do  %>
                  <i class="fa fa-star" style="color: orange;"></i>
                <% end %>
              </div>
              <div>
                <p class="notification">Communication</p>
                <% comm_rate(@user).times do  %>
                  <i class="fa fa-star" style="color: orange;"></i>
                <% end %>
              </div>
            </div>
            <div class="row review_div">
              <% @reviews.each do |review|%>
                <div class="col-lg-12">
                  <div class="row form_div">
                    <div class="col-lg-3 col-md-3 col-3">
                      <img src="<%= review.reviewer.avatar.thumb.url if review.reviewer.avatar? %>" class= "img-circle responsive-image">
                    </div>
                    <div class="col col-lg-9 col-md-9 col-9 form_div">
                      <p class="notification rev_paragraphs"><%= review.comment %></p>
                      <p class="notification rev_paragraphs">Reviewed by <%= review.reviewer.first_name %></p>
                      <p class="notification rev_paragraphs"><%= individaul_rating(review) %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

<!-- CALENDAR -->
  <div class="col-lg-6 calender container">
    <div>
      <p class="notification"><i class="fa fa-circle" style="color: gray;"></i> Unavailable day.</p>
      <p class="notification"><i class="fa fa-circle edit_tag"></i> Need companion day.Set times you need companion</p>
      <p class="notification"><i class="fa fa-circle" style="color: green;"></i> Appointment set</p>
    </div>
    <div class="row" style="padding-left: 15px; padding-right: 15px;">
    <!-- This months calendar -->
      <div itemprop="provider" itemscope itemtype="http://schema.org/Organization" class="col-lg-12 text-center">
        <h1 class="servises_text_header"><span ><%= Date.today.beginning_of_month.strftime('%B')%>, <%= Date.today.beginning_of_month.strftime('%Y') %></span><h1>
      </div>
      <div id='calendar_ajax_append' class='container'>
        <%= render "available_days/calendar" %>
      </div>
    <!-- Next months calendar -->
      <div itemprop="provider" itemscope itemtype="http://schema.org/Organization" class="col-lg-12 text-center">
        <h1 class="servises_text_header"><span ><%= Date.today.beginning_of_month.next_month.strftime('%B')%>, <%= Date.today.beginning_of_month.next_month.strftime('%Y') %></span><h1>
      </div>
      <div id='calendar_ajax_append' class='container'>
        <%= render "available_days/calendar", next_month: "next" %>
      </div>
    </div>
  </div>

    <% if @comp_write_review.length > 0 %>
      <p class="text-center user_rev_par">Your reviews helps everyone</p>
      <% @comp_write_review.each  do |appointment| %>
        Review your appointment with <a href="/users/<%=appointment.senior.id  %>/reviews/new" class="edit_tag"><%= appointment.senior.first_name %></a>
      <% end %>
    <% end %>
    </div>
  </div>
</body>
