<%= form_for @user do |f| %>
    <div class="container text-center comp_edit_form_top">
        <span class="picture">
    <%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
        <div class="row">
            <div class="col form_div">
                <%= f.text_field :first_name,class: 'user_responsive-input',placeholder: 'First Name' %>
            </div>
            <div class="col form_div">
                <%= f.text_field :last_name, class: 'user_responsive-input', placeholder: 'Last Name' %>
            </div>
        </div>
        <div class="row">
            <div class="col form_div">
                <%= f.text_field :address, class: 'add_responsive-input',placeholder: 'Address' %>
            </div>
        </div>
        <div class="row">
            <div class="col form_div">
                <%= f.text_field :city, class: 'info_responsive-input', placeholder: 'City' %>
            </div>
            <div class="col form_div">
                <%= f.text_field :zipcode, class: 'info_responsive-input', placeholder: 'Zip Code' %>
            </div>
            <div class="col form_div">
                <%= f.text_field :state, class: 'info_responsive-input', placeholder: 'State' %>
            </div>
        </div>
        <div class="row fee_div">
            Fee <% (15..20).each do |fee| %>
            <div class="col form_div">
                <%= radio_button("user", "fee",fee) %>
                <%= label_tag(:rate, fee) %>$
            </div>
            <% end %>
        </div>
        <div class="row">
           <div class="col form_div">
               <%= f.text_area :description, class: 'descrip' %>
           </div>
        </div>
        <div class="row">
            <div class="col form_div">
                <%= f.text_field :phone_number, class: 'info_responsive-input',placeholder: 'Phone Number' %>
            </div>
            <div class="col form_div">
                <%= f.text_field :ssn, class: 'info_responsive-input',placeholder: 'Social Security Number' %>
            </div>
            <div class="col form_div">
                <%= f.submit "Complete Application", class: 'btn form_submit' %>
            </div>
        </div>
    </div>
<% end %>
