<body style="background-color: #f6f6f6;margin-top: 40px;">
<div class="container no_cont">
  <div class="row profile_show">
    <div class="col-lg-6" style="padding-right: 0px; padding-left: 0px;">
      <div class="row sen_img_app">
        <div class="col-lg-6 col-md-6 sen_image">
          <div class="sen_img_upper"
            <% if !@user.avatar.url %>
              style="background-image:url(/assets/avatar_image.png);">
            <% else %>
              style="background-image: url(<%=@user.avatar.large.url if @user.avatar? %>);">
            <% end %>
            <p class="comp_rate notification"><%= final_rating(@user) %>
              <i class="fa fa-star" style="color: orange;"></i>
            </p>
          </div>
          <div class="sen_img_lower">
            <p><%= @user.first_name.humanize %> <%= @user.last_name.humanize %></p>
            <p><%= @user.city %></p>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 sen_app">
          <div>
            <h1 class="notification"><%= @user.first_name.humanize %></h1>
            <h4>Joined <%= @user.created_at.strftime('%Y') %></h4>
            <% if current_user.id === @user.id %>
              <% if !current_user.description?  || !current_user.phone_number? || !current_user.address? %>
                <p>You must provide all <a class="edit_tag" href="/users/<%=current_user.id %>/edit">
                        Required</a> information to proceed
                </p>
              <% else %>
                <a class="edit_tag" href="/users/<%=current_user.id %>/edit">
                        Edit Profile</a>
              <% end %>
            <% end %>
          </div>
          <div class="comp_description">
            <Strong>About me: </Strong><%= @user.description %>
          </div>
        </div>
      </div>

      <div id='sen_account_balance_container' class='container'>
        <%= render "transactions/show", locals: {user: @user, balance: @balance} %>
      </div>

      <div id='sen_services_tasks_container' class='container'>
        <%= render "tasks/index", locals: {user: @user} %>
      </div>

      <% if @user.reviews.count >=  0 %>
        <div class="sen_rating container">
          <h3>Reviews</h3>
          <div class="sen_stars text-center">
            <div>
              <p class="notification">Recommendation</p>
              <% wyr(@user).times do  %>
                <i class="fa fa-star" style="color: orange;"></i>
              <% end %>
            </div>
            <div>
              <p class="notification">Companionship</p>
              <% comp_rate(@user).times do  %>
                <i class="fa fa-star" style="color: orange;"></i>
              <% end %>
            </div>
            <div>
              <p class="notification">Communication</p>
              <% comm_rate(@user).times do  %>
                <i class="fa fa-star" style="color: orange;"></i>
              <% end %>
            </div>
          </div>
          <div class="row review_div">
            <% @reviews.each do |review|%>
              <div class="col-lg-12">
                <div class="row form_div">
                  <div class="col-lg-2 col-md-2 col-3">
                    <img src="<%= review.reviewer.avatar.thumb.url if review.reviewer.avatar? %>" class= "img-circle responsive-image">
                  </div>
                  <div class="col col-lg-10 col-md-10 col-9 form_div">
                    <p class="notification rev_paragraphs"><%= review.comment %></p>
                    <p class="notification rev_paragraphs"><%= review.reviewer.email %></p>
                    <p class="notification rev_paragraphs"><%= individaul_rating(review) %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-6 calender container">
      <% if !current_user.address? || !current_user.description? %>
          <h4 class="edit_tag text-center"><a href="/users/<%=current_user.id %>/edit" class="edit_tag">Provide all necessary info for verification</a></h4>
      <% else %>
      <div>
          <p class="notification"><i class="fa fa-circle" style="color: gray;"></i> Unavailable day. Click <a href="/users/<%= current_user.id %>/available_days/new" class="edit_tag">HERE</a> to add days.</p>
          <p class="notification"><i class="fa fa-circle edit_tag"></i> Need companion day.Set times you need companion</p>
          <p class="notification"><i class="fa fa-circle" style="color: green;"></i> Appointment set</p>
      </div>
      <% end %>
      <div itemprop="provider" itemscope itemtype="http://schema.org/Organization" class="col-lg-12 text-center">
        <h1 class="servises_text_header"><span ><%= Date.today.beginning_of_month.strftime('%B')%>, <%= Date.today.beginning_of_month.strftime('%Y') %></span><h1>
      </div>
      <div class="row" style="padding-left: 15px; padding-right: 15px;">
        <% (Date.today.beginning_of_month..Date.today.at_end_of_month).each do |date| %>
            <div class="col-lg-2 col-md-2 col-2 form_div cal_pad" id="<%= date.strftime('%d') %>">
              <% if sendays(current_user).include?(date) && date_exit(current_user).include?(date) %>
                <button class="btn days_cal_but" style="background-color: green;" disabled="true">
                  <p class="notification"><%= date.strftime('%a') %></p>
                  <p class="notification"><%= date.strftime('%d') %></p>
                </button>
              <% elsif Date.today > date %>
                <button class="btn days_cal_but" id="<%=date.strftime('%d')%>"  style="background-color: white;" disabled="true">
                  <p class="notification work_p"><%= date.strftime('%a') %></p>
                  <p class="notification work_p"><%= date.strftime('%d') %></p>
                </button>
              <%  elsif date_exit(current_user).include?(date) %>
                  <%= link_to available_day_path(@user,available_day: {date: date, user_id: current_user}) do %>
                      <button class="btn days_cal_but" style="background-color: orange;">
                        <p class="notification work_p"><%= date.strftime('%a') %></p>
                        <p class="notification work_p"><%= date.strftime('%d') %></p>
                      </button>
                  <% end %>
              <% else %>
                <button class="btn days_cal_but" id="<%=date.strftime('%d')%>"  style="background-color:#f6f6f6;" disabled="true">
                  <p class="notification work_p"><%= date.strftime('%a') %></p>
                  <p class="notification work_p"><%= date.strftime('%d') %></p>
                </button>
              <% end %>
            </div>
        <% end %>
        </div>
        <div itemprop="provider" itemscope itemtype="http://schema.org/Organization" class="col-lg-12 text-center">
          <h1 class="servises_text_header"><span ><%= Date.today.beginning_of_month.next_month.strftime('%B')%>, <%= Date.today.beginning_of_month.next_month.strftime('%Y') %></span><h1>
        </div>
        <div class="row" style="padding-left: 15px; padding-right: 15px;">
      <!-- (Date.today.beginning_of_month..Date.new(2018, 02, 15)) -->
        <% (Date.today.beginning_of_month.next_month..Date.today.at_end_of_month.next_month).each do |date| %>
            <div class="col-lg-2 col-md-2 col-2 form_div cal_pad" id="<%= date.strftime('%d') %>">
              <% if sendays(current_user).include?(date) && date_exit(current_user).include?(date) %>
                <button class="btn days_cal_but" style="background-color: green;" disabled="true">
                  <p class="notification work_p"><%= date.strftime('%a') %></p>
                  <p class="notification work_p"><%= date.strftime('%d') %></p>
                </button>
              <% elsif Date.today > date %>
                <button class="btn days_cal_but" id="<%=date.strftime('%d')%>"  style="background-color: white;" disabled="true">
                  <p class="notification work_p"><%= date.strftime('%a') %></p>
                  <p class="notification work_p"><%= date.strftime('%d') %></p>
                </button>
              <%  elsif date_exit(current_user).include?(date) %>
                  <%= link_to available_day_path(@user,available_day: {date: date, user_id: current_user}) do %>
                      <button class="btn days_cal_but" style="background-color: orange;">
                        <p class="notification work_p"><%= date.strftime('%a') %></p>
                        <p class="notification work_p"><%= date.strftime('%d') %></p>
                      </button>
                  <% end %>
              <% else %>
                <button class="btn days_cal_but" id="<%=date.strftime('%d')%>"  style="background-color:#f6f6f6;" disabled="true">
                  <p class="notification work_p"><%= date.strftime('%a') %></p>
                  <p class="notification work_p"><%= date.strftime('%d') %></p>
                </button>
              <% end %>
            </div>
        <% end %>
    </div>
        <div class="text-center">
          <% if !current_user.stripe_customer_id %>
              <p class="notification">You must register your Credit Card to find Companions</p>
              <%= form_tag new_transaction_path do %>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description="Credit Card Registration"
                        data-image="/assets/senyours1.png"
                        data-name="senyours"
                        data-amount="100"
                        data-zip-code="true"
                        data-billing-address="true"
                        data-label="Register your Card"
                        data-email="<%= current_user.email %>"
                        data-locale="auto"></script>
              <% end %>
          <% else %>
              <% if current_user.description && current_user.address %>
                <%= link_to 'Match with companions', users_path,style:'text-decoration:none; color:black' , class: 'btn comp_submit'  %>
              <% end %>
          <% end %>
        </div>
    <% if @sen_write_review.length > 0 %>
      <p class="text-center user_rev_par">Your reviews helps everyone</p>
      <% @sen_write_review.each  do |appointment| %>
          Review your appointment with <a href="/users/<%=appointment.companion.id  %>/reviews/new" class="edit_tag"><%= appointment.companion.first_name %></a>
      <% end %>
    <% end %>
  </div>
</div>
</body>
