<body style="margin-top: 40px;">
<div class="container pad_cont">
<div class="row sen_img_app">
  <div class="col-lg-3 col-md-5 sen_image">
    <div class="sen_img_upper" <% if !@user.avatar.url %>
        style="background-image:url(/assets/avatar_image.png);"
      <% else %>
        style="background-image: url(<%=@user.avatar.large.url if @user.avatar? %>);">
      <% end %>
    <p class="comp_rate"><%= final_rating(@user) %>
      <i class="fa fa-star" style="color: orange;"></i>
    </p>
    <% if current_user.identification === 'Senior' %>
      <p class="comp_fee notification"><%= @user.fee %>/Hr
      </p>
    <% end %>
    </div>
    <div class="sen_img_lower">
      <p><%= @user.city %></p>
      <p><%= @user.first_name.humanize %> <%= @user.last_name.humanize %></p>
    </div>
  </div>
  <div class="col-lg-9 col-md-7 sen_app">
    <h1 class="notification">Meet <%= @user.first_name.humanize %></h1>
      <% if current_user.identification === 'Senior' %>
        <h4><%= @user.first_name.humanize %> became a companion <%= @user.created_at.strftime('%Y') %></h4>
        <% else %>
          <h4><%= @user.first_name.humanize %> Joined <%= @user.created_at.strftime('%Y') %></h4>
        <% end %>
    <div class="comp_description">
      <strong>About <%= @user.first_name.humanize %>:</strong><%= @user.description %>
    </div>
    <% if @user.reviews.length === 0 %>
      <Strong>Reviews</Strong>: <%= @user.first_name.humanize %> first review is by SenYours, <%= @user.first_name  %> promises to keep this up.
    <% end %>
  </div>
</div>

  <div class="sen_rating">
    <div class="sen_stars text-center">
      <div>
        <p class="notification">Recommendation</p>
        <% wyr(@user).times do  %>
          <i class="fa fa-star" style="color: orange;"></i>
        <% end %>
      </div>
      <div>
        <p class="notification">Companionship</p>
        <% comp_rate(@user).times do  %>
          <i class="fa fa-star" style="color: orange;"></i>
        <% end %>
      </div>
      <div>
        <p class="notification">Communication</p>
        <% comm_rate(@user).times do  %>
          <i class="fa fa-star" style="color: orange;"></i>
        <% end %>
      </div>
    </div>
    <div class="row review_div">
      <% @user.reviews.each do |review|%>
        <div class="col-lg-4">
          <div class="row form_div">
            <div class="col-lg-3 col-md-2 col-3">
              <img src=<%='https://cdn1.nursinglicensemap.com/content/9d3968d2dc1b4bdeb09b74e20999ade4/Registered_nurse.jpg'%> class="img-circle responsive-image">
            </div>
            <div class="col col-lg-9 col-md-10 col-9 form_div">
              <p class="notification rev_paragraphs"><%= review.comment %></p>
              <p class="notification rev_paragraphs"><%= review.reviewer.email %></p>
              <p class="notification rev_paragraphs"><%= individaul_rating(review) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<div class="container text-center">
<%= link_to  user_conversations_path(sender_id: current_user.id, recipient_id: @user.id,user_id: current_user.id), method: 'post' do %>
  <button class="btn form_submit">Message <%= @user.first_name %></button>
<% end %>
</div>
<% if current_user.identification === 'Senior' %>
<div class="comp_app_req text-center">
  <p class="notification">Available to work</p>
  <p>Click on each date to make a request,</p>
  <div class="row">
    <% if aval(@user,current_user).length >= 1 %>
      <% aval(@user,current_user).each do |date| %>
       <% pop = @user.available_days.where('date = ?', date).first %>
       <% plac = "" %>
       <% pop.available_times.each do |time| %>
       <% plac +=(time.time.strftime('%I:%M%p')) + "," + "" %>
       <% end %>
        <%=link_to user_appointments_path(@user,appointment: {start_date: date,end_date: date, senior_id: current_user.id,companion_id: @user.id,accept: false,payment_status: "pending"}), method: :post, remote: true do %>
          <div class="form_div daite" id="<%= date.strftime('%d') %>">
            <% if current_user.seniors.where("companion_id = ? AND start_date = ? AND accept = ?",@user.id,date,true).length >= 1 %>
            <button class="btn cal_but" style="background-color: green;" data-toggle="tooltip" data-placement="top" title="Times <%= @user.first_name %> can work on this day <%= plac %>">
              <p class="notification"><%= date.strftime('%b') %></p>
              <p class="notification"><%= date.strftime('%d') %></p>
              <p class="notification"><%= date.strftime('%Y') %></p>
              <div class="date_time">
              <% aval_time(current_user,@user,date).each do |time| %>
                  <p class="notification" style="font-size: 12px;"><%= time.strftime('%I:%M%P') %></p>
                <% end %>
              </div>
            </button>
            <% elsif current_user.seniors.where("companion_id = ? AND start_date = ? AND accept = ?",@user.id,date,false).length >= 1%>
              <button class="btn cal_but" style="background-color: orange;" data-toggle="tooltip" data-placement="top" title="Times <%= @user.first_name %> can work on this day <%=  plac %>">
              <p class="notification"><%= date.strftime('%b') %></p>
              <p class="notification"><%= date.strftime('%d') %></p>
              <p class="notification"><%= date.strftime('%Y') %></p>
              <div class="date_time">
              <% aval_time(current_user,@user,date).each do |time| %>
                  <p class="notification" style="font-size: 12px;"><%= time.strftime('%I:%M%P') %></p>
                <% end %>
              </div>
            </button>
            <% else %>
            <button class="btn cal_but" style="background-color: gray;" data-toggle="tooltip" data-placement="top" title="Times <%= @user.first_name %> can work on this day <%=plac %>">
              <p class="notification"><%= date.strftime('%b') %></p>
              <p class="notification"><%= date.strftime('%d') %></p>
              <p class="notification"><%= date.strftime('%Y') %></p>
            <div class="date_time">
            <% aval_time(current_user,@user,date).each do |time| %>
              <p class="notification" style="font-size: 12px;"><%= time.strftime('%I:%M%P') %></p>
              <% end %>
            </div>
            </button>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
</div>
</body>
