<div class="row sen_img_app">
  <div class="col-lg-3 col-md-3 sen_image">
    <div class="sen_img_upper" style="background-image: url(<%=@user.avatar if @user.avatar? %>);">
    <p class="comp_rate"><%= final_rating(@user) %>
      <span style="color: orange;">☆</span>
      </p>
    </div>
    <div class="sen_img_lower">
      <p><%= @user.city %></p>
      <p><%= @user.first_name %> <%= @user.last_name %></p>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 sen_app">
    <div class="comp_description">
      <strong><%= @user.description %></strong>
    </div>
  </div>
</div>
<% if @user.reviews.count >  0 %>
  <div class="sen_rating">
    <div class="sen_stars text-center">
      <div>
        <p class="notification">Recommendation</p>
        <% wyr(@user).times do  %>
          <span style="color: orange;">☆</span>
        <% end %>
      </div>
      <div>
        <p class="notification">Companionship</p>
        <% comp_rate(@user).times do  %>
          <span style="color: orange;">☆</span>
        <% end %>
      </div>
      <div>
        <p class="notification">Communication</p>
        <% comm_rate(@user).times do  %>
          <span style="color: orange;">☆</span>
        <% end %>
      </div>
    </div>
    <div class="row review_div">
      <% @user.reviews.each do |review|%>
        <div class="col-lg-4">
          <div class="row form_div">
            <div class="col-lg-3 col-md-3 col-3">
              <img src=<%='https://cdn1.nursinglicensemap.com/content/9d3968d2dc1b4bdeb09b74e20999ade4/Registered_nurse.jpg'%> class="img-circle responsive-image">
            </div>
            <div class="col col-lg-9 col-md-9 col-9 form_div">
              <p class="notification rev_paragraphs"><%= review.comment %></p>
              <p class="notification rev_paragraphs"><%= review.reviewer.email %></p>
              <p class="notification rev_paragraphs"><%= individaul_rating(review) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="comp_app_req text-center">
  <p class="notification">Available to work</p>
  <p>Click on each date to make a request</p>
  <div class="row">
    <% if aval(@user,current_user).length >= 1 %>
      <% aval(@user,current_user).each do |date| %>
        <%=link_to user_appointments_path(@user,appointment: {start_date: date,end_date: date, senior_id: current_user.id,companion_id: @user.id,accept: false}), method: :post, remote: true do %>
          <div class="col form_div">
            <% if current_user.seniors.where("senior_id = ? AND start_date = ?",current_user.id,date).length >= 1 %>
            <button class="btn cal_but btn-warning">
              <p class="notification"><%= date.strftime('%b') %></p>
              <p class="notification"><%= date.strftime('%d') %></p>
              <p class="notification"><%= date.strftime('%Y') %></p>
            </button>
            <% else %>
            <button class="btn cal_but">
              <p class="notification"><%= date.strftime('%b') %></p>
              <p class="notification"><%= date.strftime('%d') %></p>
              <p class="notification"><%= date.strftime('%Y') %></p>
            </button>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
