<div class="container">
  <div class="row index_div">
    <% @user.each do |user|%>
      <!-- Show page just to companions and if rating is less than 3.5 do not show -->
      <% if user.identification === "Companion" && (final_rating(user) >= 3.5 || user.reviews.length === 0) && user.reviews.where(reviewer_id:current_user.id,wyr_rating:1).length != 1 && aval(user,current_user).length >= 1%>
          <div class="col-lg-3 col-md-4 comp_show">
          <a href="/users/<%= user.id %>">
            <div class="comp_img" style="background-image: url(<%=user.avatar if user.avatar? %>);">
              <p class="comp_rate"><%= final_rating(user) %>
              <span style="color: orange;">☆</span>
              </p>
              <p class="comp_fee notification"><%= user.fee %>/Hr
              </p>
            </div>
            <div class="comp_descrp">
            <p class="notification"><%= user.first_name %> <%=user.last_name %></p>
            <p class="notification">City: <%= user.city %></p>
            <p>Description: <%= user.description %></p>
            </div>
          </a>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
