



<div class="container">
  <div class="row">
    <div class="col-md-2 index_div">
      <%= form_tag("/users", method: "get")  do %>
        <div>
          <p>
            <label for="amount"><strong>Price Range:</strong></label>
            <%= hidden_field_tag "search[min_price]","#{params[:search].present? ? params[:search][:min_price] : 15}" %>
            <%= hidden_field_tag "search[max_price]","#{params[:search].present? ? params[:search][:max_price] : 20}" %>
            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
          </p>

          <div id="slider-range"></div>
        </div>
        <div class="clearfix"></div>
        <p style="margin-top: 10px">
          <label for="states-of-country"><strong>Select city:</strong></label>
        </p>


        <%= select_tag "search[city]",options_for_select(CS.cities(:ca,:us).map{|value| [value,value]},params[:search].try(:[],"city")) ,class:"form-control",id:"states-of-country" %>


        <%= button_tag "Search",class:'btn btn-primary',style:"margin-top:10px" %>
      <% end %>
    </div>

    <div class="col-md-10" style="border-left:1px solid #BDBDBE; padding-left: 30px">
      <div class="row index_div">
        <% if @user.length>0 %>
          <%= render partial: "user_listing" %>

        <% else %>
          <div >
            <h2 style="align-self: center">No Search Results Found</h2>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>

    $( function() {
        $( "#slider-range" ).slider({
            range: true,
            min: 15,
            max: 20,
            values: [ <%= params[:search].present? ? params[:search][:min_price] : 15 %>, <%= params[:search].present? ? params[:search][:max_price] : 20 %> ],
            slide: function( event, ui ) {
                $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                $( "#search_min_price" ).val( ui.values[ 0 ]  );
                $( "#search_max_price" ).val(  ui.values[ 1 ] );

            }
        });
        $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
            " - $" + $( "#slider-range" ).slider( "values", 1 ) );
    } );

</script>