<h1>Signup</h1>
<div>
  <%= form_for @user do |f| %>
    Email: <%= f.text_field :email %><br>
    Password: <%= f.password_field :password %><br>
    Password Confirmation: <%= f.password_field :password_confirmation %><br>
    City: <%= f.text_field :city %>
    Address: <%= f.text_field :address %><br>
    ZipCode: <%= f.text_field :zipcode %>
    State: <%= f.text_field :state %><br>
    Phone Number <%= f.text_field :phone_number %><br>
    SSN: <%= f.text_field :ssn %><br>
    Describe Yourself: <%= f.text_area :description %>
    <%= f.submit "Submit" %>
  <% end %>
</div>

