<body style="background-color: #4c4c4c;">
<%= form_for @user do |f| %>
        <div class="container text-center sign_up_form_top">
        <% @user.errors.full_messages.each do |message| %>
               <%= message %>
        <% end %>
            <h2>Sign Up</h2>
            <div class="row form_div option">
                <div class="option-div_1">
                    <%= radio_button("user", "identification","Senior") %>
                    <%= label_tag(:identification, "Senior") %>
                </div>
                <div>
                    <%= radio_button("user", "identification","Companion") %>
                    <%= label_tag(:identification, "Companion") %>
                </div>
            </div>

                <div class="col-lg-12 form_div">
                    <%= f.text_field :first_name, class: 'user_responsive-input',placeholder: 'First Name' %>
                </div>
                <div class="col-lg-12 form_div">
                    <%= f.text_field :last_name, class: 'user_responsive-input', placeholder: 'Last Name' %>
                </div>
                <div class="col-lg-12 form_div">
                    <%= f.text_field :email, class: 'info_responsive-input', placeholder: 'Email'  %>
                </div>
                <div class="col-lg-12 form_div">
                    <%= f.password_field :password, class: 'info_responsive-input', placeholder: 'Password' %>
                </div>
                <div class="col-lg-12 form_div">
                    <%= f.password_field :password_confirmation, class: 'info_responsive-input', placeholder: 'Password Confirmation'  %>
                </div>
                <p>You must be 18 or older to sign up</p>
                <div class="col-lg-12 form_div">
                    <%= f.date_field :dob, class: 'info_responsive-input', placeholder: 'Date Of Birth'  %>
                </div>
                <div class="col-lg-12 col-md-12 form_div">
                    <%= f.submit "Sign Up", class: 'btn sign_up_form_submit' %>
                </div>
                <div class="form_div">
                    <%=check_box_tag 'user[terms_of_service]','yes'%>
                    <a href="/terms_of_services" class="edit_tag">Terms of service</a>

                    <%=check_box_tag 'user[privacy_policy]','yes'%>
                    <a href="/privacy_policy" class="edit_tag">Privacy Policy</a>
                </div>


                <%= f.hidden_field :availability, value: true %>
        </div>
<% end %>
</body>
