<div>
  <%= form_for @user do |f| %>
    <%= radio_button("user", "identification","Senior") %>
    <%= label_tag(:identification, "Senior") %>
    <%= radio_button("user", "identification","Companion") %>
    <%= label_tag(:identification, "companion") %><br>
    First name <%= f.text_field :first_name %>
    Last name <%= f.text_field :last_name %><br>
    Email: <%= f.text_field :email %><br>
    Password: <%= f.password_field :password %><br>
    Password Confirmation: <%= f.password_field :password_confirmation %><br>
    Address: <%= f.text_field :address %>
    City: <%= f.text_field :city %><br>
    ZipCode: <%= f.text_field :zipcode %>
    State: <%= f.text_field :state %><br>
    Phone Number <%= f.text_field :phone_number %><br>
    <%= f.submit "Submit" %>
  <% end %>
</div>

