<!-- Start of Async Prefinery Code -->
<script type="text/javascript">var _pfy = _pfy || [];(function(){function pfy_load(){var pfys=document.createElement('script');pfys.type='text/javascript';pfys.async=true;pfys.src='https://widget.prefinery.com/widget/v2/bjcljd0s.js';var pfy=document.getElementsByTagName('script')[0];pfy.parentNode.insertBefore(pfys,pfy);}if (window.attachEvent){window.attachEvent('onload',pfy_load);}else{window.addEventListener('load',pfy_load,false);}})();</script>
<!-- End of Async Prefinery Code -->
<body itemscope itemtype=" http://schema.org/ItemPage" style="background-color: #F5F5F5; opacity: 10;">
  <main itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
    <section itemprop="about" itemscope itemtype="http://schema.org/OrganizationRole" class="comp_sec">
      <meta itemprop="name" content="Companion">
      <div class="comp_ind_pics">
        <p class="text-center notification">Run <span style="color: orange;">Errands</span> |support|<span style="color: orange;">socialize</span> with senior adults in your community</p>
        <p class="text-center">Earn up to <span style="color: orange;">$25</span> every hour</p>
        <button type="button" class="prefinery-form-cta btn comp_ind_pics_button">Get Early Access</button>
      </div>
    </section>
    <!-- <section class="container pad_cont">
      <div class="row require">
        <div class="col-lg-6 ">
          <div class="require_div1">
            <h2 style="padding-bottom: 15px;">Requirements</h2>
          </div>
          <div itemscope itemtype="http://schema.org/JobPosting" class="require_div2">
            <meta itemprop="title" content="Senyours Companion">
            <meta itemprop="datePosted" content="2018-05-04">
            <meta itemprop="description" content="Need one??">
            <meta itemprop="hiringOrganization" content="Senyours">
            <meta itemprop="jobLocation" content="Oakland, CA">
            <strong><img src="/assets/mark.png"> Be over 18 </strong>
            <strong itemprop="qualifications"><img src="/assets/mark.png"> Pass a Background check</strong>
            <strong itemprop="qualifications"><img src="/assets/mark.png"> Have a smartphone</strong>
            <strong itemprop="qualifications"><img src="/assets/mark.png"> Pass a screening assessment</strong>
            <strong class="require_par_last"><img src="/assets/mark.png"> Be available a minimum of 2 hours a month</strong>
            <button class="btn prefinery-form-cta" style="background-color: #ffa500;color: white; height: 50px; font-family: 'Muli', sans-serif; letter-spacing: 1px;">JOIN THE WAITLIST!</button>
           </div>
        </div>
        <div class="col-lg-6 require_img"></div>
      </div>
    </section> -->
    <section itemprop="about" itemscope itemtype="http://schema.org/OrganizationRole" class="container" style="margin-top: 10px;">
      <meta itemprop="roleName" content="Companion">
      <div class="row pow">
        <div class="col-lg-4 comp_form_div">
          <div class="comp_pow" style="background-image: url(<%= asset_path 'surf.jpg' %>)">
            <h1 class="comp_pow_h1">Travel</h1>
            <p class="comp_pow_p">Flexibility at your fingertips</p>
          </div>
        </div>
        <div class="col-lg-4 comp_form_div">
          <div class="comp_pow" style="background-image: url(<%= asset_path 'findyou.jpg' %>)">
            <h1 class="comp_pow_h1">Meet new people</h1>
            <p class="comp_pow_p"> Seniors are awesome and share knowledge</p>
          </div>
        </div>
        <div class="col-lg-4 comp_form_div">
          <div class="comp_pow" style="background-image: url(<%= asset_path 'meditate.jpg' %>)">
            <h1 class="comp_pow_h1">Discover you</h1>
            <p class="comp_pow_p"> Take time to understand you</p>
          </div>
        </div>
        <!-- <div class="col-lg-4 comp_form_div">
          <div class="comp_pow" style="background-image:url(/assets/meetpeople.jpeg);">
            <h1 class="comp_pow_h1">Connect</h1>
          </div>
        </div>
        <div class="col-lg-4 comp_form_div">
          <div class="comp_pow" style="background-image:url(/assets/relax.jpeg);">
            <h1 class="comp_pow_h1">relax</h1>
          </div>
        </div>
        <div class="col-lg-4 comp_form_div">
          <div class="comp_pow" style="background-image:url(/assets/findyou.jpeg);">
            <h1 class="comp_pow_h1">discover you</h1>
          </div>
        </div>
        <div class="col-lg-4 comp_form_div">
          <div class="comp_pow" style="background-image:url(/assets/jeep.jpeg);">
            <h1 class="comp_pow_h1">fun</h1>
          </div>
        </div>
        <div class="col-lg-4 comp_form_div">
          <div class="comp_pow" style="background-image:url(/assets/surf.jpeg);">
            <h1 class="comp_pow_h1">relax</h1>
          </div>
        </div>
        <div class="col-lg-4 comp_form_div">
          <div class="comp_pow" style="background-image:url(/assets/travel.jpeg);">

          </div>
        </div> -->
      </div>
    </section>
    <section class="container pad_cont">
      <div class="row stepp">
        <div class="col-lg-12">
        <h2 class="text-center">How To Companion</h2>
        </div>
        <div class="col-lg-4 form_div">
          <h3 class="text-center">Step 1 </h3>
          <div class="text-center">
            <%= image_tag "/assets/backgroundcheck.png", class: "font"%>
          </div>
          <div class="text-center">
          <p class="notification">Sign Up</p>
          <p class="notification">Complete Application</p>
          <p class="notification">Wait For Background check</p>
          </div>
        </div>
        <div class="col-lg-4 form_div">
          <h3 class="text-center">Step 2 </h3>
          <div class="text-center">
            <%= image_tag "/assets/calender (1).png", class: "font"%>
          </div>
          <div class="text-center">
          <p class="notification">Hustle smartly</p>
          <p class="notification">Schedule Date you want to work</p>
          </div>
        </div>
        <div class="col-lg-4 form_div">
          <h3 class="text-center">Step 3 </h3>
          <div class="text-center">
            <%= image_tag "/assets/bank.png", class: "font"%>
          </div>
          <div class="text-center">
          <p class="notification">Get matched with senior adults</p>
          <p class="notification">Get paid</p>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="container pad_cont">
      <div class="row why_this">
        <div class="col-lg-6 why_this_img"></div>
        <div class="col-lg-6 why_this_div">
          <h2 class="text-header" style="padding-bottom: 15px;">Why Become a Companion</h2>
          <strong><img src="/assets/mark.png" class="be_a_comp_icons"> Be your own boss</strong>
          <strong><img src="/assets/mark.png" class="be_a_comp_icons"> Choose what day and what time you work</strong>
          <strong><img src="/assets/mark.png" class="be_a_comp_icons"> Connect with individuals  in your community</strong>
          <strong><img src="/assets/mark.png" class="be_a_comp_icons"> Contribute to others well being</strong>
          <strong class="why_this_par_last"><img src="/assets/mark.png" class="be_a_comp_icons"> Weekly payment cycles</strong>
          <button class="btn prefinery-form-cta" style="background-color: #ffa500;color: white; height: 50px; font-family: 'Muli', sans-serif; letter-spacing: 1px;">JOIN THE WAITLIST!</button>
         </div>
      </div>
    </section> -->
  </main>
  <script type="text/javascript">
    (function(d, w, c) {
    w.ChatraID = 'CraZHDarmzW2h7DBC';
    var s = d.createElement('script');
    w[c] = w[c] || function() {
      (w[c].q = w[c].q || []).push(arguments);
    };
    s.async = true;
    s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
    + '//call.chatra.io/chatra.js';
    if (d.head) d.head.appendChild(s);
  })(document, window, 'Chatra');
  </script>
</body>
