<body style="background-color: #ffffff;" itemscope itemtype="http://schema.org/WebPage">
  <div class="text-center" style="width: 100%; box-shadow: 1px 1px 5px rgba(0,0,0,0.5);">
    <h3 class="promo_text">Care can be safe, prompt and fun.</h3>
  </div>
  <main itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
    <section class="home_div">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" id="car1" style="background-image: url(<%= asset_path 'newcompanioneditor.jpg' %>);background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.6) 100%),  url(<%= asset_path 'newcompanioneditor.jpg' %>);">
              <div class="container">
                <h1 class="text-center scrollh1">ERRANDS | HOME SUPPORT | COMPANIONSHIP  INDEPENDENT LIFESTYLE</h1>
              </div>
            </div>
            <div class="carousel-item" id="car2" style="background-image: url(<%= asset_path 'newcompanioneditor.jpg' %>);background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.6) 100%),  url(<%= asset_path 'coffietimecomp.jpg' %>);">
              <div class="container">
                <h1 class="text-center scrollh1">LAUGH, ENGAGE IN YOUR COMMUNITY, AND BUILD MEANINGFUL RELATIONSHIPS</h1>
              </div>
            </div>
            <div class="carousel-item" id="car3" style="background-image: url(<%= asset_path 'newcompanioneditor.jpg' %>);background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.6) 100%),  url(<%= asset_path 'smilyblaccomp.jpg' %>);">
              <div class="container">
                <h1 class="text-center scrollh1">ITS YOUR LIFE LIVE IT THE WAY YOU WANT</h1>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section itemprop="about" itemscope itemtype="http://schema.org/Service" class="container">
        <meta itemprop="serviceType" content="Senior Health Care"/>
        <div itemprop="provider" itemscope itemtype="http://schema.org/Organization" class="col-lg-12 text-center">
          <h1 class="text_header">WHAT YOU GET FROM <span itemprop="name">SENYOURS</span> PLATFORM<h1>
        </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <div class="text-center">
            <%= image_tag "verified.png", class: "font" %>
          </div>
          <h2 class="text-center font_p_1">VERIFICATION</h2>
          <p class="font_p">
            Our senior care Companions must pass a rigorous criminal background check. No compromise, safety comes first at Senyours.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <div class="text-center">
            <%= image_tag"time.png", class: "font" %>
          </div>
          <h2 class="text-center font_p_1">SHORT NOTICE</h2>
          <p class="font_p">
            Senior care Companions are available from 7 am to 9 pm every day. Need elderly care companionship on short notice? No problem.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <div class="text-center">
            <%= image_tag"yellow_10520.png", class: "font" %>
          </div>
          <h2 class="text-center font_p_1">PROTECTION</h2>
          <p class="font_p">
            Your belongings are covered with our insurance. We guarantee that your property is protected and safe.
          </p>
        </div>
      </div>
    </section>

<!-- how it works section -->
    <section class="container">
      <div itemprop="provider" itemscope itemtype="http://schema.org/Organization" class="col-lg-12 text-center">
        <h1 class="servises_text_header"><span >HOW IT WORKS</span></h1>
      </div>
      </div>
      <div class="row text-center" style="padding-top: 20px;">
        <div class="col-lg-4 col-md-4 col-sm-12 circle_col">
          <div class="circle">
            <div class="circle-text">
              <h2 class="work_font_p_1"">SIGN UP</h2>
              <p class="notification">Senior adult can set appointments through our  <a href="http://senyours.appointy.com/">appointment</a> page or give us a call.</p>
              <p> Care companions can only sign up though our <a href="/comp_new"> Companion</a> sign up page</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 circle_col">
          <div class="circle">
            <div class="circle-text">
              <h2 class="work_font_p_1"">VERIFY YOURSELF</h2>
              <p class="notification"> Senior are verified by address and emergency contacts.</p>
              <p> Care companions gets a vigorous background check and undergo orientation.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 circle_col">
          <div class="circle">
            <div class="circle-text">
              <h2 class="work_font_p_1"">GET MATCHED</h2>
              <p class="notification"> Seniors get connected with most available care companions in their area.</p>
              <p> Care companions sets dates and get matched with senior adults needing support.</p>
            </div>
          </div>
        </div>
    </section>

    <section class="container" style="padding-top: 20px; padding: 20px;">
      <div itemprop="provider" itemscope itemtype="http://schema.org/Organization" class="col-lg-12 text-center">
        <h1 class="servises_text_header"><span >OUR SERVICES</span><h1>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-6">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-4">
              <%= image_tag "if_cell-2-0_234509.png", class: "services_font"%>
            </div>
            <div class="col-lg-9 col-md-8 col-8">
              <h2 class="font_p_1">SHOPPING</h2>
              <p class="services_font_p">Malls, Local stores, Antique shops.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-4">
              <%= image_tag "if_broom_household_housekeeping_clean_wash_887146.png", class: "services_font"%>
            </div>
            <div class="col-lg-9 col-md-8 col-8">
              <h2 class="font_p_1">LIGHT HOUSEKEEPING</h2>
              <p class="services_font_p">Laundry, Light cleaning.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-4">
              <%= image_tag "if_080_392196.png", class: "services_font"%>
            </div>
            <div class="col-lg-9 col-md-8 col-8">
              <h2 class="font_p_1">TRANSPORTATION</h2>
              <p class="services_font_p">Drive your ride, Share ride services.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-4">
              <%= image_tag "if_071_392191.png", class: "services_font"%>
            </div>
            <div class="col-lg-9 col-md-8 col-8">
              <h2 class="font_p_1">MEAL PREPARATION</h2>
              <p class="services_font_p">Cooking, Vegetable mixing.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-4">
              <%= image_tag "if_054_392182.png", class: "services_font"%>
            </div>
            <div class="col-lg-9 col-md-8 col-8">
              <h2 class="font_p_1">COMPANIONSHIP</h2>
              <p class="services_font_p">Socialization, Events, Movies.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-4">
              <%= image_tag "if_074_392193.png", class: "services_font"%>
            </div>
            <div class="col-lg-9 col-md-8 col-8">
              <h2 class="font_p_1">ERRANDS</h2>
              <p class="services_font_p">Gardening, Pick up items. </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section itemprop="about" itemscope itemtype="http://schema.org/ProgramMembership" class="container">
      <div class="row comp_div">
        <div class="col-lg-12 text-center">
          <h1 class="text_header">HEAR FROM OUR COMPANIONS<h1>
        </div>
          <div itemprop="member" itemscope itemtype="http://schema.org/Person" class="col-lg-4 col-md-4" style=" height: 550px;">
            <div class="comp_img_div" style="background-image: url(<%= asset_path 'head_shot_copy.jpg' %>)"></div>
            <div class="comp_img_text">
              <p class="notification"> <strong itemprop="name">Merty Mcgraw</strong>,  <span itemprop="homeLocation" itemscope itemtype="http://schema.org/Place"><span itemprop="name">San francisco</span></span></p>
              <meta itemprop="jobTitle" content="Companion"/>
            </div>
            <div class="comp_img_descrp">
              <p>"I have learned so much from the seniors I have worked with. Senyours is a great way for me to build meaningful relationships while serving my community."</p>
            </div>
          </div>
          <div itemprop="member" itemscope itemtype="http://schema.org/Person" class="col-lg-4 col-md-4" style=" height: 550px;">
            <div class="comp_img_div" style="background-image: url(<%= asset_path 'wale-compress-image.jpg' %>);"></div>
            <div class="comp_img_text">
              <p class="notification"> <strong itemprop="name">Wale Kareem</strong>,  <span itemprop="homeLocation" itemscope itemtype="http://schema.org/Place"><span itemprop="name">San francisco</span></span></p>
              <meta itemprop="jobTitle" content="Companion"/>
            </div>
            <div class="comp_img_descrp">
              <p>"I am a Companion after work and on the weekends. For me being a Companion is a way to give back to the wonderful world I live in.  Everyone deserves a smile."</p>
            </div>
          </div>
          <div itemprop="member" itemscope itemtype="http://schema.org/Person" class="col-lg-4 col-md-4" style=" height: 550px;">
            <div class="comp_img_div" style="background-image: url(<%= asset_path 'jamez.png' %>);"></div>
            <div class="comp_img_text">
              <p class="notification"> <strong itemprop="name">Mez Manning</strong>,  <span itemprop="homeLocation" itemscope itemtype="http://schema.org/Place"><span itemprop="name">San francisco</span></span></p>
              <meta itemprop="jobTitle" content="Companion"/>
            </div>
            <div class="comp_img_descrp" id="what_we">
              <p>"The Senior adults I help always put a smile on my face. . Impacting others with joyous moment is something I appreciate about being a Companion."</p>
            </div>
          </div>
      </div>
    </section>
    <section class=" row who_we" >
      <div class="col-lg-6">
        <h1 class="text-center notification">WHO WE ARE</h1>
      </div>
      <div class="col-lg-6">
        <p>
        We connect senior adults with veriﬁed, background checked local citizens in their community. For an affordable rate, our Companions help seniors with their daily activities shopping, laundry, and medical appointments. Companions are also happy to join you on walks, meals, and outings. We are the first step towards home care. We understand that sometimes seniors need a little support to maintain their independent lifestyle. Our team of talented senior care Companions are excited to provide the support you need. We are an outstanding group that loves sharing our culture of inclusiveness.
        </p>
      </div>
    </section>
    <section class="section container">
      <div class="columns">
        <div class="text-center">
          <h1 class="text-center text_header" style="padding-bottom: 40px;"><span>WHAT PEOPLE ARE SAYING</span></h1>
          <div class="slideshow container">
            <div class="slide">
              <div class="slideshows">
                <p class="review">"Hi JZ, Have you heard of this service?  Seems like an Uber model to connect seniors with helpers for a price."</p>
                <div class="name-city">
                  <p class="slide-name">-Lance</p>
                  <p class='slide-city'>-San Francisco</p>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="slideshows">
                <p class="review">"Thank you for this great resource!  Great to know us oldees don't have to be  all alone!"</p>
                <div class="name-city">
                  <p class="slide-name">-Linda</p>
                  <p class='slide-city'>-Oakland</p>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="slideshows">
                <p class="review">"Just looked into Senyours out of curiosity. Looks like you’re doing really great work in a field that’s really needing it. Hope to do similar with our elders one day. Thanks for what you do!"
                </p>
               <div class="name-city">
                  <p class="slide-name">-Haleigh</p>
                  <p class='slide-city'>-Minneapolis</p>
                </div>
              </div>
              </div>
           <!--  <div class="slide">
              <div class="slideshows">
                <p class="review">"Thank you for this great resource!  Great to know us oldees don't have to be  all alone!"</p>
               <div class="name-city">
                  <p class="slide-name">-Linda Baumwirt</p>
                  <p class='slide-city'>-Sacramento</p>
                </div>
              </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <section class="values">
      <div class="container">
        <h1 class="text-center edit_tag">OUR VALUES</h1>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 font_back_val">
            <h2 class="text-center font_p_1">EVERYONE IS WELCOME</h2>
            <p class="font_p">
            We believe that everyone is unique in their own way. We don’t discriminate. A senior care Companion’s verified background check allows them to use the Senyours platform.
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 font_back_val">
            <h2 class="text-center font_p_1">PEOPLE BEFORE PROFIT</h2>
            <p class="font_p">
            Senyours believes happy senior adults create company value. Reinvesting 20% our profits into the seniors and senior care Companions that use our platform is just one way we make this happen.
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 font_back_val">
            <h2 class="text-center font_p_1">HUMAN KINDNESS</h2>
            <p class="font_p">Human kindness is at the core of our elderly care services! Companions begin relationships with seniors from a place of understanding.
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 font_back_val">
            <h2 class="text-center font_p_1">RESPECT</h2>
            <h2 class="font_p">We are all diﬀerent. Senyours believes in treating you the way you treat yourself. It’s how we pass the best elderly care provider experience on to seniors.
            </h2>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 font_back_val">
            <h2 class="text-center font_p_1">COMMUNITY</h2>
            <p class="font_p">We are building a community of senior adult and elderly care providers. Our goal is to inspire more people to volunteer at senior events that support humanity.
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 font_back_val">
            <h2 class="text-center font_p_1">FUN</h2>
            <p class="font_p">We have fun where we work. Our senior care Companions want the same fun for our seniors. Our elderly care providers are always thrilled to join the activities seniors love.!</p>
          </div>
        </div>
      </div>
    </section>
    <div class="image2_div" style="background-image: url(<%= asset_path 'newcompanioneditor.jpg' %>);background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.6) 100%),  url(<%= asset_path 'facebookprofile.jpg' %>);">
        <h1>YOUR HAPPINESS IS OUR PRIORITY.</h1>
    </div>
    <div class="faq container">
      <div>
        <p class="text-center edit_tag">Frequently Asked Questions</p>
      </div>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                WHAT DOES SENYOURS DO ?
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Senyours is a platform that connects, verified companions with senior adults that need companionship, either to run errands, shop, socialize or just talk.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                WHO ARE YOUR COMPANIONS ?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Senyours Companions are individuals that come from all walks of life that have gone through a background check and verified. They review training materials and always happy with what they do.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                HOW DOES SENYOURS MAKE MONEY ?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              We make money from hourly rate Companion Seekers pay their companion. We don't put any other burden of payment on our users, no hidden fees or any surcharges, we only make money when our users decide to use our service.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                WHAT HAPPENS IF I CANCEL MY APPOINTMENT ?
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              As long as you cancel your appointment 24 hours before your scheduled apponintment you will get a 100% refund. If you cancel after 24 hours you'll receive a 50% return.
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script type="text/javascript">
    (function(d, w, c) {
    w.ChatraID = 'CraZHDarmzW2h7DBC';
    var s = d.createElement('script');
    w[c] = w[c] || function() {
      (w[c].q = w[c].q || []).push(arguments);
    };
    s.async = true;
    s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
    + '//call.chatra.io/chatra.js';
    if (d.head) d.head.appendChild(s);
  })(document, window, 'Chatra');
  </script>
</body>
