<body itemscope itemtype="http://schema.org/ItemPage">
  <div class="need_com_img" style="background-image: url(<%= asset_path 'needacomppic.jpg' %>);background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.6) 100%),  url(<%= asset_path 'needacomppic.jpg' %>);">
  </div>
  <main itemprop="about" itemscope itemtype="http://schema.org/Service">
    <meta itemprop="category" content="Senior Care Services">
    <section itemprop="hasOfferCatalog" itemscope itemtype="http://schema.org/OfferCatalog" class="container">
      <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="row">
        <div itemprop="item" class="col-lg-4 form_div">
          <div class="text-center">
            <%= image_tag "verified.png" ,class: "font" %>
          </div>
          <h2 itemprop="name" class="text-center font_p_1">INSURANCE POLICY</h2>
          <p class="font_p"><!-- Your safety means everything to us. In addition to a thorough background check for all companions we have seniors covered with our 1 million dollar liability insurance policy. -->
            Your safety means everything to us. In addition to a thorough background check of all our Companions, seniors are covered by a comprehensive liability insurance policy up to 1 million dollars. We keep seniors covered every step of the way.
          </p>
        </div>
        <div itemprop="item" class="col-lg-4 form_div">
          <div class="text-center">
            <%= image_tag "phone.png" ,class: "font" %>
          </div>
          <h2 itemprop="name" class="text-center font_p_1">24 HOUR SUPPORT</h2>
          <p class="font_p"><!-- Our local support staff is available 24/7 to answer any questions. Our companions are available on short notice to attend to your needs or simply check in. Senior care provider at your fingertips. -->
            Got a question? Give us a call. Our local support staff are available 24/7 to answer your questions. Senior care Companions are available on short notice to attend to your needs or provide a simple check-in. We take the worry out of your day by putting senior care providers at your fingertips.
          </p>
        </div>
        <div itemprop="item" class="col-lg-4 form_div">
          <div class="text-center">
            <%= image_tag "calender (1).png" ,class: "font" %>
          </div>
          <h2 itemprop="name" class="text-center font_p_1">GREAT SENIOR COMPANIONSHIP</h2>
          <p class="font_p"><!-- Our platform matches you with Companions in your area who are available when you need them. We foster ongoing connections by allowing your to request your favorite companions. -->
            Our senior care provider platform matches you with senior care Companions in your area who are ready when you need them. We foster ongoing connections with seniors by allowing you to request your favorite senior care Companion. We want to have strong, lasting relationships with all of our senior friends.
          </p>
        </div>
        <div itemprop="item" class="col-lg-4 form_div">
          <div class="text-center">
            <%= image_tag "car.png" ,class: "font" %>
          </div>
          <h2 itemprop="name" class="text-center font_p_1">SAFE ELDERLY CARE TRANSPORT</h2>
          <p class="font_p"><!-- Get or share a safe and comfortable ride with a companion. Wherever you need to go, we take you there in your preferred way of transportation. -->
            Request or share a safe ride with your Companion when you need to get around. Wherever you need to go, we get you there in comfort by taking the method of transportation you prefer.
          </p>
        </div>
        <div itemprop="item" class="col-lg-4 form_div">
          <div class="text-center">
            <%= image_tag "shop.png" ,class: "font" %>
          </div>
          <h2 itemprop="name" class="text-center font_p_1">SENIOR SHOPPING STYLE</h2>
          <p class="font_p"><!-- We shop, cook, eat, clean the dishes for or with you. We‘re also happy to swap recipes if you like. We come to satisfy all other shopping needs that you have, too. -->
            <!--This sentence needs to be reworked, let's talk about it in person-->
            Our providers can shop, cook, and clean the dishes for or with you. We're happy to swap recipes with you! We want to satisfy all the shopping needs. Got a speciﬁc request? Just ask your senior care provider how we can make it happen.
          </p>
        </div>
        <div itemprop="item" class="col-lg-4 form_div">
          <div class="text-center">
            <%= image_tag "time.png" ,class: "font" %>
          </div>
          <h2 itemprop="name" class="text-center font_p_1">ELDERLY CARE AT YOUR OWN PACE</h2>
          <p class="font_p"><!-- Companions are available at your convenience. -->
          Companions are available at your convenience. We are here when seniors need. Our support is about your schedule, not ours. </p>
        </div>
      </div>
    </section>
    <section itemprop="audience" itemscope itemtype="http://schema.org/Audience" class="container">
      <div class="row why_this_comp">
        <div class="col-lg-8 sen_why_this_img"></div>
        <div class="col-lg-4 why_this_div">
          <h2 style="padding-bottom: 15px;">Why most <span itemprop="audienceType">seniors</span> choose us</h2>
          <strong itemprop="disambiguatingDescription"><%= image_tag "mark.png" , class: "be_a_comp_icons"%> Freedom and flexibility</strong>
          <strong itemprop="disambiguatingDescription"><%= image_tag "mark.png" , class: "be_a_comp_icons"%> Every Companion is verified</strong>
          <strong itemprop="disambiguatingDescription"><%= image_tag "mark.png" , class: "be_a_comp_icons"%> Book a Companion whenever you need one</strong>
          <strong itemprop="disambiguatingDescription"><%= image_tag "mark.png" , class: "be_a_comp_icons"%> Get matched with individuals in your area</strong>
          <strong class="why_this_par_last"><%= image_tag "mark.png" , class: "be_a_comp_icons"%> First step towards a happy home care</strong>
             <!-- <a href="/sen_new"><button class="btn become_submit">Sign up</button></a> -->
          <button class="btn" style="background-color: #ffa500;color: white; height: 50px; font-family: 'Muli', sans-serif; letter-spacing: 1px;"><a href="http://senyours.appointy.com/" style="text-decoration: none; color: white;" target="_blank">SCHEDULE APPOINTMENTS !!</a></button>
        </div>
      </div>
    </section>
  </main>
  <script type="text/javascript">
      (function(d, w, c) {
      w.ChatraID = 'CraZHDarmzW2h7DBC';
      var s = d.createElement('script');
      w[c] = w[c] || function() {
        (w[c].q = w[c].q || []).push(arguments);
      };
      s.async = true;
      s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
      + '//call.chatra.io/chatra.js';
      if (d.head) d.head.appendChild(s);
    })(document, window, 'Chatra');
  </script>
</body>
