<div class="container" style="margin-top: 60px">
<section class="our_story container">
  <h1 class="about_text_header"><span >- OUR STORY -</span></h1>
  <p class="about_text_p">We are a team dedicated to serving others in our communities. That is what inspired our CEO and that is what brought the team in. Wale, the CEO and Founder, saw loneliness firsthand and was compelled to help. This is how he came up with Senyours. He wanted to give back to not only his community but to seniors around the country. He worked tirelessly for months building Senyours and building the perfect team of like-minded and caring individuals. Senyours values kindness, diversity, respect, and fun which each person on the team exemplifies and also values. These are the values that drive us to make Senyours the best it can be and the best for you. We want to serve you and your community while also telling you a bit about ourselves.</p>
</section>

 <section itemprop="about" class="container">
  <div class="container">
      <div class="row">
          <h1 class="about_text_header">- OUR TEAM -</h1>
          <div class="col-md-6">
          <div class="about_img_manage" style="background-image: url(<%= asset_path 'wale-compress-image.jpg' %>)"></div>
            <div>
              <p class="comp_text notification"> <strong >Wale Kareem</strong>,<span >CEO, Founder</span></p>
            </div>
            <div class="comp_img_descrp">
              <p>Once nominated for the best banker in his district and receiving perfect service scores when he worked for a Fortune 500 company Wale believes giving transparent service to the people comes first. Compassion and the curiosity to solve the loneliness epidemic suffered by his grandmother and isolated seniors lead him to found Senyours. Wale  currently serves in the United state army as a Lieutenant Officer and loves to volunteer in his spare time.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_img_manage" style="background-image: url(<%= asset_path 'maxwell.jpg' %>)"></div>
            <div>
              <p class="comp_text notification"> <strong >Maxwell Mathews</strong>,<span >CTO</span></p>
            </div>
            <div class="comp_img_descrp">
              <p>Max is a Software Engineer with a demonstrated history of success in development and technical training. He has successfully worked as an engineer for several companies and was a teacher at a coding school for adults in the Bay Area. He is excited to take on the challenge of growing and advancing Senyours.</p>
            </div>
          </div>
      </div>
  </div>

      <div class ="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
              <div class="about_img_team" style="background-image: url(<%= asset_path 'blaine.jpg' %>)"></div>
              <div class="comp_text">
                <p class="notification text-center"><strong >Blaine Anderson</strong>,<span >Software Engineer</span></p>
              </div>
              <div class="comp_img_descrp">
                <p>Blaine is a Developer who loves being a part of SenYours! Coding to him is like finding that one hobby a person excels at and finds the most enjoyment out of, which is why most of his time now is devoted to that! Outside of coding, he can be found playing video or board games, hiking, fishing or reading. He can also be found doing coffee tasting and trying new and exciting foods!</p>
              </div>
            </div>


            <div class="col-lg-3 col-md-6 col-12">
              <div class="about_img_team" style="background-image: url(<%= asset_path 'amber.png' %>)"></div>
              <div class="comp_text">
                <p class="notification text-center"> <strong >Amber Nash</strong>,<span >Software Engineer</span></p>
              </div>
              <div class="comp_img_descrp">
                <p>Amber is very excited to have joined the tech community, and looks forward to a long career of creating positive impact through innovation.In her spare time, she writes and records music (acoustic and electronic), watches terrible horror films, and tries to think of socially acceptable venues to wear avant garde makeup and quirky shoes.</p>
              </div>
            </div>


            <div class="col-lg-3 col-md-6 col-12">
              <div class="about_img_team" style="background-image: url(<%= asset_path 'shannon.jpg' %>)"></div>
              <div class="comp_text">
                <p class="notification text-center"> <strong >Shannon Nolan</strong>,<span >Software Engineer</span></p>
              </div>
              <div class="comp_img_descrp">
                <p>Shannon is a former elementary school teacher who decided to chase her dreams of becoming a software engineer. Originally hailing from Philadelphia, she left the cheesesteaks behind to pursue a career in San Francisco, California. After taking care of her Grandmom for several months, she was inspired to join Senyours in order to help others in her new community.</p>
              </div>
            </div>


            <div class="col-lg-3 col-md-6 col-12">
              <div class="about_img_team" style="background-image: url(<%= asset_path 'adolfo' %>)"></div>
              <div class="comp_text">
                <p class="notification"> <strong >Adolfo Alarcon</strong>,<span >Social Media Liason</span></p>
              </div>
              <div class="comp_img_descrp">
                <p>Adolfo is a student at Cal Poly Pomona, working towards a BS in Computer Information Systems with Information Assurance emphasis and Marketing Management with Marketing Research emphasis. He enjoys finding new creative ways to solve computer and networking problems. Developing market strategies to improve outreach and promotion. He is eager to learn new skills and gain experience that will help towards success with Senyours.</p>
              </div>
            </div>
      </div>
      </div>
    </section>


<section class="container time_line">
<h1 class="about_text_header">- OUR TIMELINE -<h1>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <section class="main-timeline-section">
          <div class="timeline-start"></div>
          <div class="conference-center-line"></div>
          <div class="conference-timeline-content">
            <div class="timeline-article timeline-article-top">
                <div class="content-date">
                    <span>Fundraising begins!</span>
                </div>
                <div class="meta-date"></div>
            </div>

            <div class="timeline-article timeline-article-bottom">
                <div class="content-date">
                    <span>Team formed</span>
                </div>
                <div class="meta-date"></div>
            </div>
               <div class="timeline-article timeline-article-top">
                <div class="content-date">
                    <span>Advisory board</span>
                </div>
                <div class="meta-date"></div>
            </div>
            <div class="timeline-article timeline-article-bottom">
                <div class="content-date">
                    <span>Building begins</span>
                </div>
                <div class="meta-date"></div>
            </div>
            <div class="timeline-article timeline-article-top">
                <div class="content-date">
                    <span>Incorporation</span>
                </div>
                <div class="meta-date"></div>
            </div>


            <div class="timeline-article timeline-article-bottom">
                <div class="content-date">
                    <span> Senyours idea</span>
                </div>
                <div class="meta-date"></div>
            </div>
          </div>
          <div class="timeline-end"></div>
        </section>
    </div>
  </div>
</div>
</section>

<section class="container">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="about_text_header">- OUR ADVISORY BOARD -</h1>
        </div>
          <div itemprop="member" class="col-sm-4">
          <div class="advisory-section" style="background-image: url(<%= asset_path 'kate.png' %>)"></div>
          </div>

          <div itemprop="member" class="col-sm-8 advisory_descrp">
            <div class="comp_text_ad">
              <p class="notification" style="letter-spacing: 3px;"> <strong >KATHERINE L. BEEBE, </strong>PHD</p>
            </div>
            <div class="advisory_descrp">
              <p>Dr. Beebe currently serves as Titan's Executive Vice President and Chief Development Officer. Before joining Titan, she was a Senior Director with Corcept Therapeutics in Menlo Park, CA. Prior to joining Corcept, Dr. Beebe was the Senior Medical Director for Neurosciences within World Wide Human Health at Merck. Dr. Beebe also worked at SmithKline Beecham and GlaxoSmithKline, where she held positions of increasing responsibility, primarily within the Neurosciences research and development and medical affairs organizations. Throughout her academic and industry careers, Dr. Beebe's research has focused primarily on addiction, neurodegenerative disorders, including Alzheimer's Disease and Parkinson's Disease, mood and anxiety disorders, metabolic disorders and obesity. Her research has been published in peer-reviewed medical journals such as The American Journal of Psychiatry, Drug and Alcohol Dependence, the Journal of the American Medical Association, and Addiction. She has also presented extensively at the American Psychiatric Association, the American College of Neuropsychopharmacology, the American Society of Addiction Medicine, and the International Society of Addiction Medicine. Dr. Beebe holds a Ph.D. in Clinical Neuropsychology from George Mason University in Fairfax, Virginia.</p>
            </div>
          </div>
      </div>
  </div>
</div>
</section>


<section class ="container">
  <div class="container">
    <h1 class="about_text_header">- FEEDBACK SCORE -</h1>
  </div>
  <div class="container">
  <div class="row stars-section">
    <div class="col-sm-4">
      <p class="font_p_12">Recommendation</p>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
    </div>
    <div class="col-sm-4">
      <p class="font_p_12">Behavior</p>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
    </div>
    <div class="col-sm-4">
      <p class="font_p_12">Communication</p>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
      <span class="fa fa-star" style="font-size:30px;color:orange;text-shadow:2px 2px 4px #000000;"></span>
    </div>
  </div>
  </div>



</section>


</div>