<h1 id="this_is_bob">BOB!</h1>
<div id='calendar_ajax_remove' class="row" style="padding-left: 15px; padding-right: 15px;">
  <!-- This IF statement dictates if the calander shown is this or next months based on a passed local. As of Rails 5.1.4 an error requires "local_assigns" to find the actual passed local. This can be removed at a later time. -->
    <% if local_assigns[:next_month] == "next" %>
      <% set_of_dates = (Date.today.beginning_of_month.next_month..Date.today.at_end_of_month.next_month) %>
    <% else %>
      <% set_of_dates = (Date.today.beginning_of_month..Date.today.at_end_of_month) %>
    <% end %>

  <% set_of_dates.each do |date| %>
    <div class="col-lg-2 col-md-2 col-2 form_div cal_pad">
      <!-- If date is prior to current date -->
      <!-- [Clicking: Does nothing] -->
        <% if Date.today > date %>
          <div class="btn days_cal_but" style="background-color: gray;">
            <!-- Display Day (name) of the Week -->
            <p class="notification work_p"><%= date.to_time.strftime('%a') %></p>
            <!-- Display Date (number) of the Week -->
            <p class="notification work_p"><%= date.to_time.strftime('%d') %></p>
          </div>
      <!-- If User is a Senior and has an Appointment on this date -->
      <!-- [Clicking: Cancels Appointment & Sets Day as Unavailable ] -->
        <% elsif sendays(current_user).include?(date) && date_exit(current_user).include?(date) %>
          <% appointment = @appointments.find {|appointment| appointment.start_date == date && appointment.senior_id == current_user.id && appointment.accept == true} %>
          <% if appointment != nil %>
            <%= link_to cancel_appointment_path(user_id: current_user, appointment_id: appointment.id), id: "cancel_appointment_#{appointment.id}", class: "cancel_appointment_button" do %>
              <div class="btn days_cal_but" style="background-color: green;">
                <!-- Display Day (name) of the Week -->
                <p class="notification work_p"><%= date.to_time.strftime('%a') %></p>
                <!-- Display Date (number) of the Week -->
                <p class="notification work_p"><%= date.to_time.strftime('%d') %></p>
              </div>
            <% end %>
          <% end %>
      <!-- If User is a Companion and has an Appointment on this date -->
      <!-- [Clicking: Cancels Appointment & Sets Day as Unavailable ] -->
        <% elsif appdays(current_user).include?(date) && date_exit(current_user).include?(date) %>
          <% appointment = @appointments.find {|appointment| appointment.start_date == date && appointment.companion_id == current_user.id && appointment.accept == true} %>
          <% if appointment != nil %>
            <%= link_to cancel_appointment_path(user_id: current_user, appointment_id: appointment.id), id: "cancel_appointment_#{appointment.id}", class: "cancel_appointment_button" do %>
              <div class="btn days_cal_but" style="background-color: green;">
                <!-- Display Day (name) of the Week -->
                <p class="notification work_p"><%= date.to_time.strftime('%a') %></p>
                <!-- Display Date (number) of the Week -->
                <p class="notification work_p"><%= date.to_time.strftime('%d') %></p>
              </div>
            <% end %>
          <% end %>
      <!-- User has set day as Available for an Appointment -->
      <!-- [Clicking: Sets date as Unavailable for Appointments] -->
        <%  elsif date_exit(current_user).include?(date) %>
          <div id="set_date_append_<%= date %>">
            <%= link_to set_date_unavailable_path(current_user, date: date,  available_day: {date: date, comment: "I am ready", user_id: current_user.id}), id: "set_date_remove_#{date}", remote: true do %>
              <div class="btn days_cal_but" style="background-color: orange;">
                <!-- Display Day (name) of the Week -->
                <p class="notification work_p"><%= date.to_time.strftime('%a') %></p>
                <!-- Display Date (number) of the Week -->
                <p class="notification work_p"><%= date.to_time.strftime('%d') %></p>
              </div>
            <% end %>
            <div id="set_times_tab_<%= date %>" class="set_times_tab">
              <%= link_to 'Set Times', time_sheet_path(current_user, date: date, available_day: {date: date, comment: "I am ready", user_id: current_user.id}), id: "open_sheet_#{date}", class: "open_sheet", remote: true %>
            </div>

          </div>
      <!-- Date has not been set as Available for Appointments by User -->
      <!-- [Clicking: Sets date as Available for Appointments] -->
        <% else %>
          <div id="set_date_append_<%= date %>">
            <%= link_to set_date_available_path(current_user, date: date,  available_day: {date: date, comment: "I am ready", user_id: current_user.id}), id: "set_date_remove_#{date}", remote: true do %>
              <div class="btn days_cal_but" style="background-color: white;">
                <!-- Display Day (name) of the Week -->
                <p class="notification work_p"><%= date.strftime('%a') %></p>
                <!-- Display Date (number) of the Week -->
                <p class="notification work_p"><%= date.strftime('%d') %></p>
              </div>
            <% end %>
            <div id="set_times_tab_<%= date %>" class="set_times_tab">
              <!-- There is an invisible character below  -->
              　
            </div>
          </div>
        <% end %><!-- End of individual date categorization -->
    </div>
  <% end %><!-- End of ALL dates loop -->
</div>
