<% date = params[:date]%>
<% puts "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TIME SHEET" %>
<div id="time_sheet_<%= date %>" class="time_sheet_overlay">
  <div class="time_sheet_center_wrapper">
    <div class="container">
      <% if(@availableDay.present?) %>
        <% if current_user.identification === 'Senior' %>
          <h3> Times you want to be a companions for: </h3>
          <p> <%=@availableDay[0].try(:date)%> </p>
        <% else %> <!-- identification === Companion -->
          <h3> Times you want to be a companions for: </h3>
          <p> <%=@availableDay[0].try(:date)%> </p>
          <% puts " @@@@@@@@@@@@@ COMP " %>
          <% puts "@availableDay[0]: #{@availableDay[0]} " %>
        <% end %>
      <% else %>
        <p>You did not set availability for this date.</p>
      <% end %>
      <div class="row">
        <% puts " @@@@@@@@@@@@@ TIMES " %>
        <% puts "@all_times: #{@all_times}" %>
        <% @all_times.each do |time| %>
          <% if(@availableDay[0].present?) %>
            <%=link_to available_day_path(@availableDay[0].id,time: time), method: :patch, remote: true do %>
              <div class="col-lg-2 col-md-2 col-3 form_div" id="<%=time[0].to_i%><%=time[1].to_i %><%=time[5] %><%= time[6] %>" >
                <% if stripoff(@availableDay[0]).include?(time) %>
                  <button class="btn t_cal_but" style="background-color: red;">
                    <%= time%>
                  </button>
                <% else %>
                  <button class="btn t_cal_but">
                    <%= time%>
                  </button>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <%end%>
      </div>
    </div>

    <div class="time_sheet_close_option">
      <%=link_to "Close Time Sheet", close_time_sheet_path, remote: true %>
    </div>

  </div>
</div>
