<div class="container text-center avail_form_top">
  <div class="form_div">
    <% if current_user.identification === "Senior" %>
      <p class="notification">Which dates do you need companions</p>
    <% else %>
      <p class="notification">We encourage you to schedule your time wisely</p>
    <% end %>
  </div>
  <div class="row">
    <!-- (Date.today.beginning_of_month..Date.new(2018, 02, 15)) -->
    <% (Date.today.beginning_of_month..Date.today.at_end_of_month).each do |date| %>
      <%=link_to user_available_days_path(current_user, available_day: {date: date,comment: "I am ready", user_id: current_user.id}), method: :post, remote: true do %>
        <div class="col form_div" id="<%= date.strftime('%d') %>">
          <% if date_exit(current_user).include?(date) %>
            <button class="btn btn-warning cal_but disabled">
              <p class="notification"><%= date.strftime('%b') %></p>
              <p class="notification"><%= date.strftime('%d') %></p>
              <p class="notification"><%= date.strftime('%a') %></p>
            </button>
          <% else %>
            <button class="btn cal_but" id="<%=date.strftime('%d')%>"  style="background-color: gray;">
              <p class="notification"><%= date.strftime('%b') %></p>
              <p class="notification"><%= date.strftime('%d') %></p>
              <p class="notification"><%= date.strftime('%a') %></p>
            </button>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div>
    <% if current_user.identification === "Senior" %>
        <% if !current_user.stripe_customer_id %>
                <p class="notification">You must register your card to find companions</p>
                <%= form_tag charges_path do %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="Card Registration"
                          data-image="/assets/senyours1.png"
                          data-name="senyours"
                          data-amount="100"
                          data-zip-code="true"
                          data-billing-address="true"
                          data-label="Register your Card"
                          data-email="<%= current_user.email %>"
                          data-locale="auto"></script>
                <% end %>

              <% else %>
      <%= link_to 'Match with companions', users_path,style:'text-decoration:none; color:black' , class: 'btn comp_submit'  %>
            <% end %>
    <% else %>
      <%= link_to 'Confirm Dates', user_path(current_user),style:'text-decoration:none; color:black' , class: 'btn comp_submit'  %>
    <% end %>
  </div>
</div>

