<div class="container text-center avail_form_top">
  <div class="form_div">
    <% if current_user.identification === "Senior" %>
      <p class="notification">Which dates do you need companions</p>
    <% else %>
      <p class="notification">When can you help a companion? We encourage you to schedule your time wisely</p>
    <% end %>
  </div>
  <div class="row">
    <% (Date.today..Date.new(2018, 02, 15)).each do |date| %>
      <%=link_to user_available_days_path(current_user, available_day: {date: date,comment: "I am ready", user_id: current_user.id}), method: :post, remote: true do %>
        <div class="col form_div">
          <% if date_exit(current_user).include?(date) %>
            <button class="btn btn-warning cal_but disabled">
              <p class="notification"><%= date.strftime('%b') %></p>
              <p class="notification"><%= date.strftime('%d') %></p>
              <p class="notification"><%= date.strftime('%a') %></p>
            </button>
            <%= link_to 'Delete', available_day_path(date),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <button class="btn cal_but">
              <p class="notification"><%= date.strftime('%b') %></p>
              <p class="notification"><%= date.strftime('%d') %></p>
              <p class="notification"><%= date.strftime('%a') %></p>
            </button>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div>
    <% if current_user.identification === "Senior" %>
      <%= link_to 'Match with companions', users_path,style:'text-decoration:none; color:black' , class: 'btn comp_submit'  %>
    <% end %>
  </div>
</div>

