<% if current_user.identification === "Senior" %>
  <p class="notification">Which dates do you need companions</p>
<% else %>
  <p class="notification">When can you help a companion? We encourage you to schedule your time wisely</p>
<% end %>
<% @current_date.each do |date| %>
  <button>
    <%= date.date.strftime('%b') %><br>
    <%= date.date.strftime('%d') %><br>
    <%= date.date.strftime('%Y') %><br>
  </button>
<% end %><br>
<% 9.times.each do |day| %>
  <%=link_to user_available_days_path(current_user, date: Date.today + day), method: :post, remote: true do %>
    <button>
      <p class="notification"><%= Date.today.strftime('%b') %></p>
      <p class="notification"><%= (Date.today + day).strftime('%d') %></p>
      <p class="notification"><%= (Date.today + day).strftime('%Y') %></p>
    </button>
  <% end %>
<% end %><br>
<% if current_user.identification === "Senior" %>
  <%= link_to 'Match with companions', users_path %>
<% end %><br>

