<div id='calendar_ajax_remove'>

  <% if @user.identification === "Senior" %>
    <h1>Senior Calendar AJAX</h1>
    <div class="row" style="padding-left: 15px; padding-right: 15px;">
    <!-- Render all days from beginning to end of current month -->
    <% (Date.today.beginning_of_month..Date.today.at_end_of_month).each do |date| %>

        <div class="col-lg-2 col-md-2 col-2 form_div cal_pad" id="<%= date.strftime('%d') %>">
          <% if sendays(current_user).include?(date) && date_exit(current_user).include?(date) %>
            <%= link_to available_day_path(@user,available_day: {date: date, user_id: current_user}) do %>
              <button class="btn days_cal_but" style="background-color: green;">
                <!-- Display Day (name) of the Week -->
                <p class="notification work_p"><%= date.strftime('%a') %></p>
                <!-- Display Date (number) of the Week -->
                <p class="notification work_p"><%= date.strftime('%d') %></p>
            <% end %>
            </button>
          <% elsif Date.today > date %>
            <!-- Show current date, but allow it to be set as available with times -->
            <button class="btn days_cal_but" id="<%=date.strftime('%d')%>"  style="background-color: #BEBEBE;" disabled="true">
              <p class="notification work_p"><%= date.strftime('%a') %></p>
              <p class="notification work_p"><%= date.strftime('%d') %></p>
            </button>
          <%  elsif date_exit(current_user).include?(date) %>
              <%= link_to remove_available_day_path(@user,available_day: {date: date, user_id: current_user}) do %>
                  <button class="btn days_cal_but" style="background-color: orange;">
                    <p class="notification work_p"><%= date.strftime('%a') %></p>
                    <p class="notification work_p"><%= date.strftime('%d') %></p>
                  </button>
              <% end %>
          <% else %>
            <!-- Set this Date available & set Times available -->
            <%= link_to add_available_day_path(current_user, available_day: {date: date,comment: "I am ready", user_id: current_user.id}), remote: true do %>
              <button class="btn days_cal_but" style="background-color: white;">
                <!-- Display Day (name) of the Week -->
                <p class="notification work_p"><%= date.strftime('%a') %></p>
                <!-- Display Date (number) of the Week -->
                <p class="notification work_p"><%= date.strftime('%d') %></p>
            <% end %>

          <% end %>
        </div>

    <% end %>
    </div>

  <% elsif @user.identification === "Companion" %>
    <h1>Companion Calendar AJAX</h1>
  <% end %>

</div>
