<body style="margin-top: 60px;">
<div class="container">
  <% if(@availableDay.present?) %>
    <% if current_user.identification === 'Senior' %>
      <p> Time you need companion for <%=@availableDay[0].try(:date)%> </p>
    <% else %>
      <p> Time you need companions for <%=@availableDay[0].try(:date)%> </p>
    <% end %>
  <% else %>
    <p>You did not set availability for this date.</p>
  <% end %>
  <div class="row">
    <%@arr.each do |time|%>
      <% if(@availableDay[0].present?) %>
        <%=link_to available_day_path(@availableDay[0].id,time: time), method: :patch, remote: true do %>
          <div class="col-lg-2 col-md-2 col-3 form_div" id="<%=time[0].to_i%><%=time[1].to_i  %>" >
            <% if stripoff(@availableDay[0]).include?(time) %>
              <button class="btn t_cal_but" style="background-color: red;">
                <%= time%>
              </button>
            <% else %>
              <button class="btn t_cal_but">
                <%= time%>
              </button>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <%end%>
  </div>
  <div class="row">
    <div class="col">
      <a href="/users/<%= current_user.id %>/">Back to calender days</a>
    </div>
    <div class="col">
      <% if @checkdate %>
        <% if @checkdate === @first_date%>
          <%= link_to 'Next Day >', available_day_path(available_day: {date: @availableDay[0].next, user_id: current_user}) %>
        <% elsif @checkdate === @last_date %>
          <%= link_to '< Prev Day', available_day_path(available_day: {date: @availableDay[0].date.previous, user_id: current_user}) %>
        <% elsif @checkdate != @first_date %>
          <%= link_to '< Prev Day', available_day_path(available_day: {date: @availableDay[0].date - 1, user_id: current_user}) %>
          <%= link_to 'Next Day >', available_day_path(available_day: {date: @availableDay[0].date.next, user_id: current_user}) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</body>
