<script src="https://cdn.ckeditor.com/ckeditor5/10.0.1/classic/ckeditor.js"></script>
<!-- Resources for ckeditor -->
<!-- http://www.dailysmarty.com/posts/how-to-integrate-ckeditor-into-a-rails-5-application -->
<!-- https://github.com/galetahub/ckeditor -->

<div id="edit_blog_form_container">
    <div id="edit_blog_form">
        <h1>Update Blog Post:</h1>
        <%= form_for @blog, url: {action: "update"} do |f| %>
            <% if @blog.image? %>
              <!-- If there is an uploaded image in the DB then use this -->
              <div id='edit_blog_form_section'>
                <%= f.label :image %>
                <%= f.file_field :image %>
              </div>
            <% else %>
              <!-- If there is NO uploaded image in the DB then use this -->
              <div id='edit_blog_form_section'>
                <%= f.label :image %>
                <%= f.file_field :image %>
              </div>
            <% end %>

            <div id='edit_blog_form_section'>
                <%= f.label :title %>
                <%= f.cktext_area :title, value: @blog.title %>
            </div>
            <div id='edit_blog_form_section'>
              <%= f.label :body %>
              <%= f.cktext_area :body, value: @blog.body %>
            </div>
            <div id='edit_blog_form_section'>
                <%= f.submit "Edit post", class: "" %>
            </div>
        <% end %>
    </div>
</div>

<script>
  ClassicEditor
    .create( document.querySelector( '#editor' ) )
    .catch( error => {
        console.error( error );
  } );
</script>
