<% if session[:admin] == true %>
  <div id='blog_index_container'>
    <div id="blog_index_admin_options">
        <%= link_to "Create Blog Post", new_blog_path, class: 'index_link_to_button' %>
        <%= link_to "Log Out", end_session_path, class: 'index_link_to_button' %>
    </div>
    <% @blogs.each do |blog|%>
    <div id="blog_index_contents">
    <% if blog.image? %>
        <div id='blog_index_image_container'><!-- top container -->
            <!-- If there is an uploaded image in the DB then use this -->
            <%= image_tag(blog.image.large, :alt => "Image", :id => 'index_blog_image' ) %>
        </div>
    <% else %>
            <!-- If there is NO uploaded image in the DB then use this -->
    <% end %>
        <div id='blog_index_content_container'><!-- middle container -->
            <div id='blog_index_extras'>
                  <p id='index_blog_date'>
                    <%=blog.created_at.strftime("%d %b %y")%>
                  </p>
                  <div class='index_extras_container'>
                    <%= link_to "Edit Post", edit_blog_path(blog.id), class: 'index_link_to_button' %>
                  </div>
                  <div class='index_extras_container'>
                    <%= link_to "Delete Post", blog_path(blog.id), method: :delete, class: 'index_link_to_button' %>
                  </div>
            </div>
            <div id='blog_index_title_container'>
                <%= link_to raw(blog.title), blog_path(blog.id), id: 'blog_index_title' %>
            </div>
        </div>

    </div>
    <% end %>
    <%= will_paginate @blogs %>
  </div>
<% else %>
<div id='blog_index_container'>
  <% @blogs.each do |blog|%>
  <div id="blog_index_contents">
  <% if blog.image? %>
      <div id='blog_index_image_container'><!-- top container -->
          <!-- If there is an uploaded image in the DB then use this -->
          <%= image_tag(blog.image.large, :alt => "Image", :id => 'index_blog_image' ) %>
      </div>
  <% else %>
          <!-- If there is NO uploaded image in the DB then use this -->
  <% end %>
      <div id='blog_index_content_container'><!-- middle container -->
          <div id='blog_index_extras'>
                <p id='index_blog_date'>
                  <%=blog.created_at.strftime("%d %b %y")%>
                </p>
          </div>
          <div id='blog_index_title_container'>
              <%= link_to raw(blog.title), blog_path(blog.id), id: 'blog_index_title' %>
          </div>
      </div>

  </div>
  <% end %>
  <%= will_paginate @blogs %>
</div>
<div id='blog_log_in_link_container'>
  <%= link_to "Log In", password_input_path, id: 'blog_log_in_link' %>
</div>
<% end %>
