<% if session[:admin] == false %>
<div id='index_container_background'>
  <div id='pagination_container'>
    <%= will_paginate @blogs %>
  </div>
  <div id='index_container'>
    <% @blogs.each do |blog|%>
      <div id='index_blog_container'>
        <div id='index_blog_date_container'>
          <h3 id='index_blog_date'> <%= blog.created_at.strftime("%d %b %y") %> </h3>
        </div>
        <div id='index_blog_title_container'>
          <%= link_to raw(blog.title), blog_path(blog.id), id: 'index_blog_title' %>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @blogs %>
  <div id='blog_log_in_link_container'>
    <%= link_to "Log In", password_input_path, id: 'blog_log_in_link' %>
  </div>
</div>
<% elsif session[:admin] == true %>
<%= link_to "Create Blog Post | ", new_blog_path %>
<%= link_to "Log Out", end_session_path %>
<div id='index_container_background'>
  <div id='pagination_container'>
    <%= will_paginate @blogs %>
  </div>
  <div id='index_container'>
    <% @blogs.each do |blog|%>
      <div id='index_blog_container'>
        <div id='index_blog_date_container'>
          <h3 id='index_blog_date'> <%= blog.created_at.strftime("%d %b %y") %> </h3>
        </div>
        <%= link_to "Edit Post", edit_blog_path(blog.id) %>
        <%= link_to "Delete Post", blog_path(blog.id), method: :delete %>
        <div id='index_blog_title_container'>
          <%= link_to raw(blog.title), blog_path(blog.id), id: 'index_blog_title' %>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @blogs %>
  <%= link_to "Log in", password_input_path, id: 'blog_log_in_link' %>
</div>
<% end %>
