<% if session[:admin] == true %>
<div class='container'>
  <div id="blog_index_admin_options">
      <%= link_to "Create Blog Post", new_blog_path, class: 'index_link_to_button' %>
      <%= link_to "Log Out", end_session_path, class: 'index_link_to_button' %>
  </div>
  <% @blogs.each do |blog|%>
  <div id="blog_index_contents">
    <div id='datebox'>
      <p class='index_blog_date'>
        <%=blog.created_at.strftime("%b")%>
      </p>
      <p class='index_blog_date' >
        <%=blog.created_at.strftime("%d")%>
      </p>
    </div>
  <% if blog.image? %>
    <div class='blog_image_index' style='background-image: url(<%= blog.image.large %>);'></div>
  <% else %>
    <div class='blog_image_index' style='background-image: url(http://via.placeholder.com/1000x500);'></div>
  <% end %>
  </div>
  <div id='blog_index_admin_options'>
      <%= link_to "Edit Post", edit_blog_path(blog.id), class: 'index_link_to_button' %>
      <%= link_to "Delete Post", blog_path(blog.id), method: :delete, class: 'index_link_to_button' %>
  </div>
  <h1 class='blog_index_title'>
    <%= link_to sanitize(blog.title), blog_path(blog.id) %>
  </h1>
  <% end %>
</div>
<%= will_paginate @blogs %>
<% else %>
  <div class='container'>
    <% @blogs.each do |blog|%>
    <div id="blog_index_contents">
      <div id='datebox'>
        <p class='index_blog_date'>
          <%=blog.created_at.strftime("%b")%>
        </p>
        <p class='index_blog_date' >
          <%=blog.created_at.strftime("%d")%>
        </p>
      </div>
      <% if blog.image? %>
        <div class='blog_image_index' style='background-image: url(<%= blog.image.large %>);'></div>
      <% else %>
        <div class='blog_image_index' style='background-image: url(http://via.placeholder.com/1000x500);'></div>
      <% end %>
    </div>
    <h1 class='blog_index_title'>
      <%= link_to sanitize(blog.title), blog_path(blog.id) %>
    </h1>
    <% end %>
  </div>
  <%= will_paginate @blogs %>
  <div id='blog_log_in_link_container'>
    <%= link_to "Log In", password_input_path, id: 'blog_log_in_link' %>
  </div>
<% end %>
