<script src="https://cdn.ckeditor.com/ckeditor5/10.0.1/classic/ckeditor.js"></script>
<!-- Resources for ckeditor -->
<!-- http://www.dailysmarty.com/posts/how-to-integrate-ckeditor-into-a-rails-5-application -->
<!-- https://github.com/galetahub/ckeditor -->

<div id="new_blog_form_container">
    <div id="new_blog_form">
        <h1>Create New Blog Post:</h1>
        <%= form_for @blog, url: {action: "create"} do |f| %>
            <div id='edit_blog_form_section'>
              <%= f.label :image %>
              <%= f.file_field :image %>
            </div>
            <div id='new_blog_form_section'>
                <%= f.label :title %>
                <%= f.cktext_area :title %>
            </div>
            <div id='new_blog_form_section'>
                <%= f.label :body %>
                <%= f.cktext_area :body %>
            </div>
            <div id='new_blog_form_section'>
                <%= f.submit "Create new post", class: "" %>
            </div>
        <% end %>
    </div>
</div>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
    } );
</script>
