<body style="background-color: #f6f6f6">
<div class='blog_show'>
  <% if @blog.image? %>
    <div class='blog_image_show' style='background-image: url(<%= @blog.image.large %>);'>
  <% else %>
    <div class='blog_image_show' style='background-image: url(/assets/findyou.jpg);background-size: cover;background-position: center;'>
  <% end %>
    <h1 class='text-center blog_title_show'><%= sanitize @blog.title %></h1>
    </div>
  <div class='container' style="background-color: white; position: relative;top:-40px;">
    <h4 class='text-center' style='padding-top: 30px;'> <%= @blog.created_at.strftime("%d %b %y") %> </h4>
    <div class='container'>
      <%= sanitize @blog.body %>
    </div>
    <%= render partial: "social" %>
    <div class='blog_index_selection_options'>
      <% if @blog.previous.presence %>
        <%= link_to "Previous", blog_path(@blog.previous), class: 'index_link_to_button' %>
      <% end %>
        <%= link_to "Blogs Home", blog_index_path, class: 'index_link_to_button' %>
      <% if @blog.next.presence %>
        <%= link_to "Next", blog_path(@blog.next), class: 'index_link_to_button' %>
      <% end %>
    </div>
  </div>
</div>
</body>
