  <div id='show_container'>
    <div id='show_blog_container'>

      <div id='show_blog_top_container'>
<!-- When individual editor are added in, this can be used. -->
        <!-- <div id='show_blog_editor_box'>

          <div id='show_blog_editor_image'>
            <%= image_tag("", :alt => "BlankAvatar", :id => 'show_editor_image' ) %>
          </div>

          <div id='show_blog_editor_name'>
            <h1> <%=  %> </h1>
          </div>

        </div> -->
          <div id='show_blog_title_box'>

          <div id='show_blog_date_container'>
            <h1> 09/09/2018 </h1>
          </div>

          <div id='show_blog_title_container'>
            <h1> <%= raw(@blog.title) %> </h1>
          </div>

        </div>

      </div>

      <span class='top_divider'></span>
      <div class='blog_section' id='show_blog_image_container'>
        <%= image_tag("http://via.placeholder.com/1500x1000", :alt => "Image", :id => 'show_blog_image' ) %>
      </div>
      <span class='bottom_divider'></span>

      <div class='blog_section' id='show_blog_body_container'>
        <p>
          <%= raw(@blog.body) %>
        </p>
      </div>

    </div>
  </div>
