<% if @appointment.length >= 1 %>
   <p style="padding-top: 15px;"><%=link_to @accept_this_app.senior.first_name, user_path(@accept_this_app.senior) %> requests your companionship for <%= @accept_this_app.start_date.strftime('%m/%d') %>
  <%=link_to appointment_path(@accept_this_app,appointment: {start_date: @accept_this_app.start_date,end_date: @accept_this_app.start_date, senior_id: @accept_this_app.senior.id,companion_id: current_user.id,accept: true,payment_status: "pending"}), method: :patch, remote: true, class: "btn btn-warning assptclick1" do %>
    <%= label_tag(:appointment, "Accept") %>
    <% end %>
  <%=link_to appointment_path(@accept_this_app,appointment: {start_date: @accept_this_app.start_date,end_date: @accept_this_app.start_date, senior_id: @accept_this_app.senior.id,companion_id: current_user.id,accept: false,payment_status: "pending"}), method: :patch, remote: true, class: "btn btn-warning assptclick2" do %>
    <%= label_tag(:appointment, "Decline") %>
  <% end %>
  </p>
<% end %>

