<% offdate = "2000-01-01" %>
<% @all_times = [{match_time: "#{offdate} 07:00:00 UTC", slang_time: "7:00AM"},"#{offdate} 08:00:00 UTC","#{offdate} 09:00:00 UTC","#{offdate} 10:00:00 UTC","#{offdate} 11:00:00 UTC","#{offdate} 12:00:00 UTC","#{offdate} 13:00:00 UTC","#{offdate} 14:00:00 UTC","#{offdate} 15:00:00 UTC","#{offdate} 16:00:00 UTC","#{offdate} 17:00:00 UTC","#{offdate} 18:00:00 UTC","#{offdate} 19:00:00 UTC"] %>
<% @all_times2 = ["07:00AM","08:00AM","09:00AM","10:00AM","11:00AM","12:00PM","01:00PM","02:00PM","03:00PM","04:00PM","05:00PM","06:00PM","07:00PM"] %>
<% @all_times3 = [{match_time: "#{offdate} 07:00:00 UTC", slang_time: "7:00AM"}, {match_time: "#{offdate} 08:00:00 UTC", slang_time: "8:00AM"}] %>

<% %>
<% %>
<%= %>
<%= %>

<% %>
<%= %>

<!-- Compare @all_times with actual times -->
<!-- This should ALWAYS start blank! -->
<!-- If time is selected: Display Green Link -->
  <!-- If time is then DEselected: Display normal Link -->

<!-- Upon 'create appointment' check times and selected all times inbetween. ALL TIMES BETWEEN MUST BE AVAILABLE -->
<div id="apt_ts_display">
  <% @all_times3.each do |time_slot| %>
  <% puts "@@@@@@@@@@@@@@@@@@@@@@@@@@@@" %>
  <% puts "#{time_slot[:match_time]}" %>
  <% puts "#{time_slot[:slang_time]}" %>
    <% @times.each do |time_avail| %>
    <% puts "#{time_avail.time}" %>
      <% if time_avail.time == time_slot[:match_time] %>
        <!-- ADD LINK OPTION -->
        <%= render 'appointments/selectable_time', :locals => {:time_avail => time_avail} %>
      <% else %>
        <!-- ADD NON LINK OPTION -->
        <span style="background: white;"><%= time_slot %></span>
      <% end %>
    <% end %>
  <% end %>
</div><!-- END id="apt_ts_wrapper" -->
