<% offdate = "2000-01-01" %>
<% @all_times = [
  {match_time: "#{offdate} 07:00:00 UTC", slang_time: "7:00AM"},
  {match_time: "#{offdate} 08:00:00 UTC", slang_time: "8:00AM"},
  {match_time: "#{offdate} 09:00:00 UTC", slang_time: "9:00AM"},
  {match_time: "#{offdate} 10:00:00 UTC", slang_time: "10:00AM"},
  {match_time: "#{offdate} 11:00:00 UTC", slang_time: "11:00AM"},
  {match_time: "#{offdate} 12:00:00 UTC", slang_time: "12:00AM"},
  {match_time: "#{offdate} 13:00:00 UTC", slang_time: "13:00AM"},
  {match_time: "#{offdate} 14:00:00 UTC", slang_time: "14:00AM"},
  {match_time: "#{offdate} 15:00:00 UTC", slang_time: "15:00AM"},
  {match_time: "#{offdate} 16:00:00 UTC", slang_time: "16:00AM"},
  {match_time: "#{offdate} 17:00:00 UTC", slang_time: "17:00AM"},
  {match_time: "#{offdate} 18:00:00 UTC", slang_time: "18:00AM"},
  {match_time: "#{offdate} 19:00:00 UTC", slang_time: "19:00AM"} ] %>

<% %>
<% %>
<%= %>
<%= %>

<% %>
<%= %>

<!-- Compare @all_times with actual times -->
<!-- This should ALWAYS start blank! -->
<!-- If time is available: Display Orange background -->
  <!-- If time is selected: Display Green background -->
    <!-- If time is then DEselected: Display Orange background again -->

<!-- Upon 'create appointment' check times and selected all times inbetween. ALL TIMES BETWEEN MUST BE AVAILABLE -->
<div id="apt_ts_display">
  <% @all_times.each do |all_time_slot| %>
    <% @times.each do |time_avail| %>
      <% if time_avail.time == all_time_slot[:match_time] %>
        <!-- ADD LINK OPTION -->
        <%= render 'appointments/selectable_time', :locals => {:time_avail => time_avail, all_time_slot: all_time_slot} %>
      <% else %>
        <!-- ADD NON LINK OPTION -->
        <span class="apt_time_box all_time_slot_unclickable"><%= all_time_slot[:slang_time] %></span>
      <% end %>
    <% end %>
  <% end %>
</div><!-- END id="apt_ts_wrapper" -->
