<!-- Logic -->
  <% if current_user.identification == "Senior" %>
    <% @appointments = Appointment.where(senior_id: current_user.id) %>
    <p>Senior Was Loaded</p>
  <% elsif current_user.identification == "Companion" %>
    <p>Companion Was Loaded</p>
    <% @appointments = Appointment.where(companion_id: current_user.id) %>
  <% end %>

<!-- If there are MULTIPLE Appointments, display them. -->
  <p>Appointment length: <%= @appointments.length %></p>
  <hr />
  <% if @appointments.length >= 2 %>
    <% @appointments.each do |appointment| %>
      <div>
        <p>Appointment ID: <%= appointment.id %></p>
        <p>Appointment Companion Id: <%= appointment.companion_id %></p>
        <p>Appointment Senior Id: <%= appointment.senior_id %></p>
        <p>Appointment Start Date: <%= appointment.start_date %></p>
        <p>Appointment End Date: <%= appointment.end_date %></p>
        <p>Appointment Accepted?: <%= appointment.accept %></p>
        <p>Appointment Payment Status: <%= appointment.payment_status %></p>
      </div>
      <hr />
    <% end %>
<!-- If there is ONE Appointment, display it. -->
  <% elsif @appointments.length = 1 %>
  <% appointment = @appointments %>
    <div>
      <h1>You have ONE appointments.</h1>
        <p>Appointment ID: <%= appointment.id %></p>
        <p>Appointment Companion Id: <%= appointment.companion_id %></p>
        <p>Appointment Senior Id: <%= appointment.senior_id %></p>
        <p>Appointment Start Date: <%= appointment.start_date %></p>
        <p>Appointment End Date: <%= appointment.end_date %></p>
        <p>Appointment Accepted?: <%= appointment.accept %></p>
        <p>Appointment Payment Status: <%= appointment.payment_status %></p>
    </div>
  <% else %>
    <div>
      <h1>You have no appointments.</h1>
    </div>
  <% end %>
