<!-- Logic -->
  <h1>Your Transactions:</h1>
  <% if current_user.identification == "Senior" %>
    <% @appointments = Appointment.where(senior_id: current_user.id) %>
  <% elsif current_user.identification == "Companion" %>
    <% @appointments = Appointment.where(companion_id: current_user.id) %>
  <% end %>
<!-- If there are any Appointments, display them. -->
  <% if @appointments.length >= 1 %>
    <% @appointments.each do |appointment| %>
      <div>
        <p>Appointment ID: <%= appointment.id %></p>
        <p>Appointment Companion Id: <%= appointment.companion_id %></p>
        <p>Appointment Senior Id: <%= appointment.senior_id %></p>
        <p>Appointment Start Date: <%= appointment.start_date %></p>
        <p>Appointment End Date: <%= appointment.end_date %></p>
        <p>Appointment Accepted?: <%= appointment.accept %></p>
        <p>Appointment Payment Status: <%= appointment.payment_status %></p>
      </div>
      <%= link_to 'Cancel Appointment', cancel_appointment_path(user_id: current_user, appointment_id: appointment.id), id: "cancel_appointment_#{appointment.id}", class: "cancel_appointment_button", remote: true %>
      <hr />
    <% end %>
<!-- If there are no Appointments, display only the container. -->
  <% else %>
    <div>
      <h3>You have no appointments.</h3>
    </div>
  <% end %>
