<body style="background-color: #f6f6f6">
<%= form_for([@user, @review]) do |f| %>
    <div class="container text-center review_form_top">
        <div class="row">
            <h3 class="h3_1">Communication</h3><% (1..5).each do |rating| %>
            <div class="col form_div">
                <%= radio_button("review", "comm_rating",rating) %>
                <%= label_tag(:rate, rating) %>
            </div>
            <% end %>
        </div>
        <div class="row">
            <h3 class="h3_2">Recommendation</h3> <% (1..5).each do |rating| %>
            <div class="col form_div">
                <%= radio_button("review", "wyr_rating",rating) %>
                <%= label_tag(:rate, rating) %>
            </div>
            <% end %>
        </div>
        <div class="row">
        <h3 class="h3_3" ">Behavior</h3> <% (1..5).each do |rating| %>
        <div class="col form_div">
            <%= radio_button("review", "comp_rating",rating) %>
            <%= label_tag(:rate, rating) %>
        </div>
        <% end %>
        </div>
        <div class="row">
            <div class="col form_div">
                <%= f.text_area :comment, class: 'descrip_rev', placeholder: 'Why did you give this recommendations' %>
            </div>
        </div>
        <%= f.hidden_field :user_id, :value=> @user.id %>
        <%= f.hidden_field :reviewer_id, :value=> current_user.id %>
        <div class="form_div">
            <%= f.submit "Submit", class: 'btn form_submit' %>
        </div>
    </div>
<% end %>
</body>
