<% if @user.identification === "Senior" %>
    <% if @user.stripe_user_id != nil %>
        <div id='sen_charges_ajax' class='container'>
        </div>
    <% else %>
        <div id='sen_charges_ajax' class='container'>
            <h3 id='service_header'>Setup Account Information:</h3>

            <%= link_to "Create Stripe Account", "https://connect.stripe.com/express/oauth/authorize?response_type=code&client_id=#{ENV['stripe_client_id']}&redirect_uri=http://localhost:3000/verify&stripe_user[business_type]=individual&stripe_user[phone_number]=#{@user.phone_number}&stripe_user[email]=#{@user.email}&stripe_user[first_name]=#{@user.first_name}&stripe_user[last_name]=#{@user.last_name}&state=senyours_verification_#{@user.id}", class: 'nav-link', target: :_blank  %>

            <%= link_to "Stripe TEST",
            "https://connect.stripe.com/express/oauth/authorize?response_type=code&client_id=#{ENV['stripe_client_id']}&redirect_uri=http://localhost:3000/verify&stripe_user[business_type]=individual&stripe_user[phone_number]=0000000000&stripe_user[email]=123abc@gmail.com&stripe_user[first_name]=Random&stripe_user[last_name]=Person&state=senyours_verification_#{@user.id}", class: 'nav-link', target: :_blank  %>
        </div>
    <% end %>
<% elsif @user.identification === "Companion" %>
    <% if @user.stripe_user_id != nil %>
        <div id='sen_charges_ajax' class='container'>
            <h3 id='service_header'>Account Balance:</h3>
            <p> Current <%= @balance.available[0].currency.upcase %> Balance: <span style='color:green;'><%= number_to_currency(@balance.available[0].amount / 100) %></span> </p>
            <p> Pending <%= @balance.pending[0].currency.upcase %> Balance: <span style='color:green;'><%= number_to_currency(@balance.pending[0].amount / 100) %></span> </p>
        </div>
    <% else %>
        <div id='sen_charges_ajax' class='container'>
            <h3 id='service_header'>Setup Account Information:</h3>

            <%= link_to "Create Stripe Account", "https://connect.stripe.com/express/oauth/authorize?response_type=code&client_id=#{ENV['stripe_client_id']}&redirect_uri=http://localhost:3000/verify&stripe_user[business_type]=individual&stripe_user[phone_number]=#{@user.phone_number}&stripe_user[email]=#{@user.email}&stripe_user[first_name]=#{@user.first_name}&stripe_user[last_name]=#{@user.last_name}&state=senyours_verification_#{@user.id}", class: 'nav-link', target: :_blank  %>

            <%= link_to "Stripe TEST",
            "https://connect.stripe.com/express/oauth/authorize?response_type=code&client_id=#{ENV['stripe_client_id']}&redirect_uri=http://localhost:3000/verify&stripe_user[business_type]=individual&stripe_user[phone_number]=0000000000&stripe_user[email]=123abc@gmail.com&stripe_user[first_name]=Random&stripe_user[last_name]=Person&state=senyours_verification_#{@user.id}", class: 'nav-link', target: :_blank  %>
        </div>
    <% end %>
<% end %>
