<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118162887-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118162887-1');
    </script>

    <!-- Metadata for http header request - Global -->
    <title>Senyours</title>
    <meta name="description" content="Errands|Home support|Companionship for senior adults by verified care companions in their area to support their independent lifestyle."/>
    <meta name="keywords" content="companions, seniors, Senyours, home care, companion, senior home care, senior, care companions, care companion"/>
    <meta property="og:site_name" content="Senyours | Senior Companionship"/>
    <meta property="og:title" content="Senyours"/>
    <meta property="og:description" content="Errands|Home support|Companionship for senior adults by verified care companions in their area to support their independent lifestyle."/>
    <meta property="og:url" content="https://www.senyours.io"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.senyours.io/assets/newcompanioneditor.jpg"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="Senyours | Senior Companionship"/>
    <meta name="twitter:title" content="Senyours"/>
    <meta name="twitter:image" content="http://www.senyours.io/assets/needacomppic.jpg"/>
    <meta name="twitter:url" content="https://www.senyours.io"/>
    <meta itemprop="name" content="Senyours"/>
    <meta itemprop="url" content="https://www.senyours.io"/>
    <meta itemprop="thumbnailUrl" content="http://www.senyours.io/assets/SenYours_thumbnailOrange_115.jpg"/>
    <meta itemprop="image" content="http://www.senyours.io/assets/newcompanioneditor.jpg"/>
    <title>Senyours</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- Disabled Zoom with this meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- For devices that do not use view port -->
    <meta name="HandheldFriendly" content="true" />
    <meta name="p:domain_verify" content="9f349ce99de746628471bb20d2ee56cc"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="icon" type="image/ico" href="/assets/favicon(2).ico">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render '/header' %>
    </header>
    <!-- Flash messages with this -->
    <div style="width: 80%; margin: 20px auto; box-shadow: 1px 1px 5px rgba(0,0,0,0.1);">
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, class: "alert alert-#{message_type}" do -%>
      <%= message %>
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <% end -%>
    <% end %>
    </div>
    <%= yield %>
    <%= render '/footer' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <script src="https://surveyjs.azureedge.net/1.0.16/survey.jquery.min.js"></script>
    <!-- <script type="text/javascript">
    var surveyId = '<%#= ENV['surveyId'] %>';
    </script> -->
    <script type="text/javascript">
    var surveyPostId = '<%= ENV['surveyPostId'] %>';
    </script>
  </body>
</html>
