<!DOCTYPE html>
<html>
  <head>
    <title>SenYours</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- Disabled Zoom with this meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- For devices that do not use view port -->
    <meta name="HandheldFriendly" content="true" />



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="icon" type="image/ico" href="/assets/senyoursfav.jpg">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render '/header' %>
    </header>
    <!-- Flash messages with this -->
    <div style="width: 80%; margin: 20px auto; box-shadow: 1px 1px 5px rgba(0,0,0,0.1);">
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, class: "alert alert-#{message_type}" do -%>
      <%= message %>
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <% end -%>
    <% end %>
    </div>
    <%= yield %>
    <%= render '/footer' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
</html>
